<section class="about about--experience">
  <div class="about__content">
    <div class="about__top-row">
      <h2 class="about__heading">
        Похожие проекты
      </h2>
      <a href="#" class="about__learn-more">
        Смотреть все
        <svg width="14" height="14" aria-hidden="true">
          <use xlink:href="#more-arrow"></use>
        </svg>
      </a>
    </div>

    <div class="about__slider js-about-slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="project-card">
              <div class="project-card__bg">
                <img src="/images/about/4.webp" alt="" class="project-card__bg-image" loading="lazy" />
                <div class="project-card__plus">
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#plus"></use>
                  </svg>
                </div>
              </div>
              <div class="project-card__content">
                <h3 class="project-card__title">ВНЕДРЕНИЕ СИСТЕМЫ БЮДЖЕТИРОВАНИЯ И ФОРМИРОВАНИЯ
                  УПРАВЛЕНЧЕСКОЙ ОТЧЕТНОСТИ
                  В <b>DELKO</b></h3>
              </div>
              <div class="project-card__popover">
                <h3 class="project-card__popover-title">
                  ВНЕДРЕНИЕ СИСТЕМЫ БЮДЖЕТИРОВАНИЯ И ФОРМИРОВАНИЯ
                  УПРАВЛЕНЧЕСКОЙ ОТЧЕТНОСТИ
                  В <b>DELKO</b>
                </h3>
                <div class="project-card__popover-text">
                  Проект показал, что уровень зрелости отечественных ЕРМ систем позволяет автоматизировать
                  сложные модели и
                  управлять большими объемами данных высокой степени детализации
                </div>
                <ul class="project-card__popover-info-list">
                  <li class="project-card__popover-info-list-item">
                    <b>Направление:</b> стратегия, бюджетирование, консолидация
                  </li>
                  <li class="project-card__popover-info-list-item">
                    <b>Платформа:</b> Optimacros
                  </li>
                  <li class="project-card__popover-info-list-item">
                    <b>Отрасль:</b> транспорт и логистика, диверсифицированный холдинг
                  </li>
                </ul>
                <div class="project-card__popover-more">
                  Подробнее
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="project-card">
              <div class="project-card__bg">
                <img src="/images/about/5.webp" alt="" class="project-card__bg-image" loading="lazy" />
                <div class="project-card__plus">
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#plus"></use>
                  </svg>
                </div>
              </div>
              <div class="project-card__content">
                <h3 class="project-card__title">ВНЕДРЕНИЕ СИСТЕМЫ БЮДЖЕТИРОВАНИЯ И ФОРМИРОВАНИЯ
                  УПРАВЛЕНЧЕСКОЙ ОТЧЕТНОСТИ
                  В <b>DELKO</b></h3>
              </div>
              <div class="project-card__popover">
                <h3 class="project-card__popover-title">
                  ВНЕДРЕНИЕ СИСТЕМЫ БЮДЖЕТИРОВАНИЯ И ФОРМИРОВАНИЯ
                  УПРАВЛЕНЧЕСКОЙ ОТЧЕТНОСТИ
                  В <b>DELKO</b>
                </h3>
                <div class="project-card__popover-text">
                  Проект показал, что уровень зрелости отечественных ЕРМ систем позволяет автоматизировать
                  сложные модели и
                  управлять большими объемами данных высокой степени детализации
                </div>
                <ul class="project-card__popover-info-list">
                  <li class="project-card__popover-info-list-item">
                    <b>Направление:</b> стратегия, бюджетирование, консолидация
                  </li>
                  <li class="project-card__popover-info-list-item">
                    <b>Платформа:</b> Optimacros
                  </li>
                  <li class="project-card__popover-info-list-item">
                    <b>Отрасль:</b> транспорт и логистика, диверсифицированный холдинг
                  </li>
                </ul>
                <div class="project-card__popover-more">
                  Подробнее
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="project-card">
              <div class="project-card__bg">
                <img src="/images/about/6.webp" alt="" class="project-card__bg-image" loading="lazy" />
                <div class="project-card__plus">
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#plus"></use>
                  </svg>
                </div>
              </div>
              <div class="project-card__content">
                <h3 class="project-card__title">ВНЕДРЕНИЕ СИСТЕМЫ БЮДЖЕТИРОВАНИЯ И ФОРМИРОВАНИЯ
                  УПРАВЛЕНЧЕСКОЙ ОТЧЕТНОСТИ
                  В <b>DELKO</b></h3>
              </div>
              <div class="project-card__popover">
                <h3 class="project-card__popover-title">
                  ВНЕДРЕНИЕ СИСТЕМЫ БЮДЖЕТИРОВАНИЯ И ФОРМИРОВАНИЯ
                  УПРАВЛЕНЧЕСКОЙ ОТЧЕТНОСТИ
                  В <b>DELKO</b>
                </h3>
                <div class="project-card__popover-text">
                  Проект показал, что уровень зрелости отечественных ЕРМ систем позволяет автоматизировать
                  сложные модели и
                  управлять большими объемами данных высокой степени детализации
                </div>
                <ul class="project-card__popover-info-list">
                  <li class="project-card__popover-info-list-item">
                    <b>Направление:</b> стратегия, бюджетирование, консолидация
                  </li>
                  <li class="project-card__popover-info-list-item">
                    <b>Платформа:</b> Optimacros
                  </li>
                  <li class="project-card__popover-info-list-item">
                    <b>Отрасль:</b> транспорт и логистика, диверсифицированный холдинг
                  </li>
                </ul>
                <div class="project-card__popover-more">
                  Подробнее
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>