<section class="about">
    <div class="about__content">
        <h2 class="about__heading">
            один партнер <b>на&nbsp;весь&nbsp;проект</b>
        </h2>
        <div class="about__slider js-about-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="about__slider-card">
                            <div class="about__slider-card-bg">
                                <img src="/images/about/1.webp" alt="" class="about__slider-card-bg-image"
                                    loading="lazy">
                                <div class="about__slider-card-plus">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="about__slider-card-content">
                                <h3 class="about__slider-card-title">
                                    Методология
                                </h3>
                                <div class="about__slider-card-text">
                                    Команда, которая работает совместно
                                    и на одном уровне с big4
                                </div>
                            </div>
                            <div class="about__slider-card-popover">
                                <ul class="about__slider-card-popover-list">
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка и адаптация методологии планирования и бюджетирования
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка методик консолидации данных
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Проработка финансовой структуры компании
                                        и функциональной ответственности за процессы бюджетирования в компании
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка политик и регламентов бюджетирования, положений и инструкций
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка правил сбора фактических данных (мэппингов, правил трансформации и
                                        проверок данных)
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка инструментов для анализа отклонений и методик факторного анализа
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about__slider-card">
                            <div class="about__slider-card-bg">
                                <img src="/images/about/2.webp" alt="" class="about__slider-card-bg-image"
                                    loading="lazy">
                                <div class="about__slider-card-plus">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="about__slider-card-content">
                                <h3 class="about__slider-card-title">
                                    Автоматизация
                                </h3>
                                <div class="about__slider-card-text">
                                    Сильная экспертиза в зарубежных
                                    и отечественных системах
                                </div>
                            </div>
                            <div class="about__slider-card-popover">
                                <ul class="about__slider-card-popover-list">
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка и адаптация методологии планирования и бюджетирования
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка методик консолидации данных
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Проработка финансовой структуры компании
                                        и функциональной ответственности за процессы бюджетирования в компании
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка политик и регламентов бюджетирования, положений и инструкций
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка правил сбора фактических данных (мэппингов, правил трансформации и
                                        проверок данных)
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка инструментов для анализа отклонений и методик факторного анализа
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about__slider-card">
                            <div class="about__slider-card-bg">
                                <img src="/images/about/3.webp" alt="" class="about__slider-card-bg-image"
                                    loading="lazy">
                                <div class="about__slider-card-plus">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="about__slider-card-content">
                                <h3 class="about__slider-card-title">
                                    Сопровождение
                                </h3>
                                <div class="about__slider-card-text">
                                    Остаемся с вами для уверенного использования
                                    и масштабирования систем
                                </div>
                            </div>
                            <div class="about__slider-card-popover">
                                <ul class="about__slider-card-popover-list">
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка и адаптация методологии планирования и бюджетирования
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка методик консолидации данных
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Проработка финансовой структуры компании
                                        и функциональной ответственности за процессы бюджетирования в компании
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка политик и регламентов бюджетирования, положений и инструкций
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка правил сбора фактических данных (мэппингов, правил трансформации и
                                        проверок данных)
                                    </li>
                                    <li class="about__slider-card-popover-list-item">
                                        Разработка инструментов для анализа отклонений и методик факторного анализа
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__slider-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, ipsa.
            </div>
        </div>
    </div>
</section>