<section class="approaches approaches--platform">
    <div class="approaches__content">
        <h2 class="approaches__heading">
            Сделаем вместе с вами
        </h2>
        <ol class="approaches__list">
            <li class="approaches__list-item">
                Постановку и адаптацию
                методологии
            </li>
            <li class="approaches__list-item">
                Внедрение системы
                по методологии agile
            </li>
            <li class="approaches__list-item">
                Интеграции с текущей
                ИТ инфраструктурой
            </li>
            <li class="approaches__list-item">
                Обучение пользователей
            </li>
            <li class="approaches__list-item">
                Внутренний центр компетенции
            </li>
            <li class="approaches__list-item">
                Обеспечим развитие и техническую поддержку системы
            </li>

        </ol>
    </div>
</section>