<section class="approaches">
    <div class="approaches__content">
        <h2 class="approaches__heading">
            Отработанные подходы
            <b>к&nbsp;управлению и&nbsp;реализации проектов</b> позволяют получать быстрые результаты
        </h2>
        <ol class="approaches__list">
            <li class="approaches__list-item">
                Уточняем бизнес-требования
                и анализируем текущий процесс компании
            </li>
            <li class="approaches__list-item">
                Улучшаем бизнес-процесс, создаем
                или совершенствуем методологию
            </li>
            <li class="approaches__list-item">
                Помогаем составить техническое
                задание и выбрать платформу
            </li>
            <li class="approaches__list-item">
                Автоматизируем процесс
                на выбранной платформе
                и в проработанной методологии
            </li>
            <li class="approaches__list-item">
                Проводим интеграции с текущей
                ИТ-инфраструктурой компании
            </li>
            <li class="approaches__list-item">
                Обучаем пользователей работе
                в новой системе
            </li>
            <li class="approaches__list-item">
                Оказываем сопровождение и дальнейшую техническую поддержку
            </li>
        </ol>
    </div>
</section>