<section class="article-intro">
    <div class="article-intro__content">
        <div class="article-intro__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#">
                Медиа-центр
            </a>
            <a href="#" class="active">
                Как ускорить подготовку отчетности. Настраиваем Outlook
            </a>
        </div>
        <div class="article-intro__card">
            <div class="article-intro__card-bg">
                <img src="/images/article-intro.webp" alt="" class="article-intro__card-bg-image">
            </div>
            <div class="article-intro__card-content">
                <div class="article-intro__card-heading-text">
                    Статья
                </div>
                <h1 class="article-intro__card-heading">
                    Как ускорить подготовку отчетности. Настраиваем Outlook
                </h1>
            </div>
        </div>
        <div class="article-intro__bottom">
            <div class="article-intro__bottom-inner">
                <div class="article-intro__bottom-row">
                    <div class="article-intro__info">
                        <div class="article-intro__info-item">
                            5 июня 2023
                        </div>
                        <div class="article-intro__info-item">
                            Время прочтения: 3 минуты
                        </div>
                    </div>
                    <a href="#" class="article-intro__share-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#sharing"></use>
                        </svg>
                        Поделиться
                    </a>
                </div>
                <div class="article-intro__author">
                    <div class="article-intro__author-image-container">
                        <img src="/images/article-author.webp" alt="" class="article-intro__author-image">
                    </div>
                    <div class="article-intro__author-content">
                        <div class="article-intro__author-name">
                            Максим Бритвин
                        </div>
                        <div class="article-intro__author-role">
                            Старший консультант-разработчик Департамента ЕРМ
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>