<section class="press-release-text-content">
    <div class="press-release-text-content__content">
        <div class="press-release-text-content__wrapper">
            <div class="press-release-text-content__wrapper-inner">
                <p>
                    <b>
                        Сбор отчетности — монотонная работа. Чтобы ускорить сбор ее, надо внедрить автоматизированное
                        решение. Если денег на это пока нет, то можно начать с малого и грамотно настроить Outlook. Наш
                        эксперт Максим Бритвин, — о том, как это сделать
                    </b>
                </p>
                <div class="press-release-text-content__block-with-sidebar">
                    <div class="press-release-text-content__block-with-sidebar-main">

                        <p>
                            Леонид работает в большой корпорации, в его задачи входит получение и проверка файлов с
                            отчетностями от 15 дочерних компаний. В конце отчетного периода в почту Леонида приходят 15
                            Excel-таблиц. Всех их нужно проверить, и, если там есть ошибки, отправить обратно с
                            комментариями. Документы с верными данными Леонид добавляет в общую Excel-книгу, чтобы
                            получить предварительные результаты общей отчетности. При этом ему всегда нужно быть готовым
                            дать ответ руководству, какая из компаний уже подала свои результаты, а какая еще
                            задерживается.
                        </p>
                        <p>
                            Леонид делает всю эту работу вручную, это долго и трудозатратно. Он открывает Excel, ищет
                            нужные строки для проверки, сверяет их, пишет комментарии и отправляет файл на доработку,
                            получает ответ, вносит данные в общую модель, актуализирует информацию в сводных файлах. В
                            среднем на работу с одной компанией Леонид тратит около часа своего рабочего времени, и хотя
                            вся работа должна занимать чуть больше 15 часов, с повторными отправками файлов она
                            затягивается на недели.
                        </p>
                    </div>
                    <div class="press-release-text-content__block-with-sidebar-sidebar">
                        <ul>
                            <li>
                                <b>
                                    Шаг № 1. Мелкие изменения без автоматизации
                                </b>
                            </li>
                            <li>
                                <b>
                                    Шаг № 2. Автоматизация загрузки файлов
                                </b>
                            </li>
                            <li>
                                <b>
                                    Шаг № 3. Проверка документов без ручного труда
                                </b>
                            </li>

                        </ul>
                    </div>
                </div>
                <h3>
                    Главная проблема Леонида — это разрозненность получаемой информации. Каждый новый файл отвлекает его
                    от текущей задачи и заставляет переключаться. Соответственно, нужно, чтобы кто-то вместо Леонида:
                </h3>
                <ul>
                    <li>
                        отбирал файлы, присланные каждой дочерней компанией;
                    </li>
                    <li>
                        классифицировал эти файлы по папкам и версиям;
                    </li>
                    <li>
                        проверял на наличие ошибок в файле и отправлял письмо с комментарием;
                    </li>
                    <li>
                        добавлял данные из правильного файла в Excel-книгу.
                    </li>
                </ul>
                <p>
                    Свободных людей в компании для выполнения этих задач нет. Но можно передать эти задачи программе.
                    Как это сделать?
                </p>
                <h3>
                    Шаг № 1. Мелкие изменения без автоматизации
                </h3>
                <p>
                    С чего нужно начать, чтобы ускорить подготовку отчетности? Начинаем с небольших изменений.
                </p>
                <ul>
                    <li>
                        <b>
                            Структурировать поступающие файлы в почту.
                        </b><br>
                        Для этого нужно создать общий для всех «дочек» шаблон ввода данных — тогда файлы перестанут
                        отличаться друг от друга, проверять их будет проще.
                    </li>
                    <li>
                        <b>
                            Установить единый шаблон именования файлов и темы письма для подобных сообщений.
                        </b><br>
                        Так их будет проще искать в почте, взаимодействовать с ними будет удобнее. Часто в качестве
                        шаблона используют ИмяКомпании_ПериодОтчетности.
                    </li>
                    <li>
                        <b>
                            Создать правило в почтовом клиенте и автоматически перемещать письма в отдельную папку.
                        </b><br>
                        Если у писем с отчетностью есть стандартные критерии, в почтовом клиенте можно настроить
                        автоматическое перемещение отчетных таблиц в специальную папку. Тогда их не нужно будет искать
                        по всей почте и перетаскивать вручную.
                    </li>
                </ul>
                <p>
                    Это не автоматизация. Но такие мелочи сделают подготовку отчетности удобнее.
                </p>
                <h3>
                    ШАГ № 2. Автоматизация загрузки файлов
                </h3>
                <p>
                    Несмотря на первые шаги по оптимизации процесса, у Леонида много ручных задач: открыть письмо,
                    скачать файл, открыть файл, проверить на ошибки, отправить на исправление. И не забыть вовремя
                    проконтролировать, кто подал документы, а кто нет.
                </p>
                <p>
                    Он не программист, поэтому ищет простой и понятный инструмент, который можно поставить на рабочий
                    компьютер и не переживать за безопасность. Один из вариантов — это бесплатный продукт Power Automate
                    Desktop от Microsoft. Все что нужно для его использования — учетная запись Microsoft, которая есть
                    почти во всех крупных компаниях.
                </p>

                <p>
                    Система позволяет работать с папками, файлами на компьютере, почтой, MS Excel и другими объектами. С
                    ее помощью можно автоматизировать практически любое действие пользователя. А если для настройки
                    недостаточно уже созданных пунктов, ее можно легко автоматизировать при помощи прописанного порядка
                    действий.
                </p>
                <p>
                    Сначала Леониду нужно избавиться от процесса сохранения присланных файлов из почты в локальную
                    папку. В компании все отправляют письма в Microsoft Outlook, поэтому будем использовать его.
                    Открываем соответствующее действие и создаем нашу автоматизацию. В нашем первом потоке (такие наборы
                    действий называются «потоком») мы запускаем Outlook и извлекаем сообщения электронной почты. Чтобы
                    каждый раз не скачивать всю почту, которая когда-либо приходила, Леониду нужно указать
                    дополнительные параметры:
                </p>
                <ul>
                    <li>
                        <b>
                            Почтовая папка: ФайлыДляОтчетности
                        </b>
                    </li>
                    <li>
                        <b>
                            Извлечь: только непрочитанные сообщения
                        </b>
                    </li>
                    <li>
                        <b>
                            Где сохранить вложения: С: \Users\LeonidFromSparta'Desktop\Выгруженные файлы
                        </b>
                    </li>
                    <li>
                        <b>
                            Cоздаваемые переменные: RetrievedEmails
                        </b>
                    </li>
                </ul>

                <div class="press-release-text-content__images">
                    <div class="press-release-text-content__images-item">
                        <img src="/images/article/1.webp" alt="">
                    </div>
                    <div class="press-release-text-content__images-item press-release-text-content__images-item--large">
                        <img src="/images/article/2.webp" alt="">
                    </div>
                </div>
                <p>
                    Мы работаем только с непрочитанными сообщениями и сразу указываем папки, откуда будем брать вложения
                    и куда их будем отправлять. Сохраним наш первый поток и нажмем кнопку «Выполнить» для запуска.
                </p>
                <p>
                    Все успешно выполнилось. Но в папке с файлами появились еще какие-то картинки. Откуда они взялись?
                </p>
                <p>
                    Часто в компаниях в стандартную подпись к каждому сообщению включают различные дополнительные
                    элементы: логотипы компании, различные иконки для ссылок на социальные сети для связи. Все эти
                    значки тоже прикреплены к письму, хоть и явно не отображаются. Нам они не нужны, поэтому от них
                    нужно избавиться. Для упрощения алгоритма мы просто будем перемещать файлы Excel в другую папку, а
                    потом удалять все, что осталось.
                </p>
                <p>
                    Теперь у Леонида в папке «ТолькоОтчеты» будут только книги Excel. Пора автоматизировать проверку
                    документов.
                </p>
                <h3>
                    ШАГ № 3. Проверка документов без ручного труда
                </h3>
                <p>
                    Леонид организовал процесс заполнения данных таким образом, что теперь все они соответствуют одному
                    шаблону. Кроме того, на листах есть несколько проверок, по которым первоначально можно определить,
                    правильно ли все заполнено.
                </p>
                <p>
                    Чтобы поочередно открыть все файлы, воспользуемся таким действием как «Loop» или «цикл». Теперь для
                    каждого документа, который мы переместили, поток будет выполнять одно и то же действие: открывать
                    книгу Excel, переходить на нужный нам лист Checks и проверять ячейку А1. Если там не будет значение
                    «ОК», то покажется сообщение об ошибке, поток подождет пять секунд и начнет обрабатывать следующий
                    файл.
                </p>
                <p>
                    Система позволяет работать с папками, файлами на компьютере, почтой, MS Excel и другими объектами. С
                    ее помощью можно автоматизировать практически любое действие пользователя. А если для настройки
                    недостаточно уже созданных пунктов, ее можно легко автоматизировать при помощи прописанного порядка
                    действий.
                </p>
                <div class="press-release-text-content__images">
                    <div class="press-release-text-content__images-item">
                        <img src="/images/article/3.webp" alt="">
                    </div>
                    <div class="press-release-text-content__images-item press-release-text-content__images-item--large">
                        <img src="/images/article/4.webp" alt="">
                    </div>
                </div>
                <p>
                    Все готово! Теперь Леониду достаточно запустить поток, и проверенные файлы скачаются в нужную папку.
                    Ему удалось сократить время на выполнение своих задач.
                </p>
                <p>
                    Но на деле программа способна на большее:
                </p>
                <ul>
                    <li>
                        <b>
                            разложить файлы по нужным папкам;
                        </b>
                    </li>
                    <li>
                        <b>
                            отправлять сообщение в почту тем, у кого файл с ошибками;
                        </b>
                    </li>
                    <li>
                        <b>
                            отдать контроль за версиями файлов;
                        </b>
                    </li>
                    <li>
                        <b>
                            анализировать текст и картинки при помощи машинного обучения.
                        </b>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>