<section class="benefits">
    <div class="benefits__content">
        <h2 class="benefits__heading">
            Идти к цели увереннее
            <b>за счет автоматизации процесса</b>
        </h2>
        <div class="benefits__slider js-benefits-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <h3 class="benefits__slider-card-title">
                                Единый источник прозрачных данных
                            </h3>
                            <div class="benefits__slider-card-text">
                                Единая информационная среда
                                для работы подразделений
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <h3 class="benefits__slider-card-title">
                                Ускорение процесса принятия решений
                            </h3>
                            <div class="benefits__slider-card-text">
                                Оперативный пересчет показателей
                                при внесении изменений
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <h3 class="benefits__slider-card-title">
                                Предвидение результатов
                            </h3>
                            <div class="benefits__slider-card-text">
                                Четкая связь оперативных показателей и стратегических целей
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <h3 class="benefits__slider-card-title">
                                Влияние на результат
                            </h3>
                            <div class="benefits__slider-card-text">
                                Сокращение убытков за счет быстрой реакции на изменения
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>