<section class="catalog-content">
    <div class="catalog-content__wrapper">
        <div class="catalog-content__sidebar">
            <div class="catalog-content__filters">
                <button class="catalog-content__filters-btn js-filters-open">
                    Фильтр
                </button>
                <div class="catalog-content__filters-dropdown">
                    <div class="catalog-content__filters-dropdown-inner">
                        <button class="catalog-content__filters-close js-filters-close" type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#filters-close"></use>
                            </svg>
                        </button>
                        <h2 class="catalog-content__filters-dropdown-heading">
                            фильтр
                        </h2>
                        <form action="/" method="GET" class="catalog-content__filters-form">
                            <div class="catalog-content__filters-blocks">
                                <div class="catalog-content__filters-block js-accordion active">
                                    <button class="catalog-content__filters-block-btn js-accordion-btn">
                                        Платформа
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#accordion-arrow"></use>
                                        </svg>
                                    </button>
                                    <div class="catalog-content__filters-block-content js-accordion-content">
                                        <div class="catalog-content__filters-block-content-inner">
                                            <div class="catalog-content__filters-checkboxes">
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="platform"
                                                        value="Oracle Hyperion">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Oracle Hyperion
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="platform"
                                                        value="IBM Cognos">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        IBM Cognos
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="platform"
                                                        value="Optimacros">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Optimacros
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="platform"
                                                        value="ТУРБО Бюджетирование">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        ТУРБО Бюджетирование
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="platform"
                                                        value="Oracle Hyperion">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Oracle Hyperion
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="platform"
                                                        value="IBM Cognos">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        IBM Cognos
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="platform"
                                                        value="Optimacros">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Optimacros
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="platform"
                                                        value="ТУРБО Бюджетирование">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        ТУРБО Бюджетирование
                                                    </span>
                                                </label>
                                            </div>
                                            <button class="catalog-content__filters-checkboxes-show-all">
                                                <span class="catalog-content__filters-checkboxes-show-all-text">
                                                    Показать все
                                                </span>
                                                <span class="catalog-content__filters-checkboxes-show-all-text">
                                                    Скрыть
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog-content__filters-block js-accordion active">
                                    <button class="catalog-content__filters-block-btn js-accordion-btn">
                                        Направление
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#accordion-arrow"></use>
                                        </svg>
                                    </button>
                                    <div class="catalog-content__filters-block-content js-accordion-content">
                                        <div class="catalog-content__filters-block-content-inner">
                                            <div class="catalog-content__filters-checkboxes">
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="subject"
                                                        value="Стратегия">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Стратегия
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="subject"
                                                        value="Бюджетирование">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Бюджетирование
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="subject"
                                                        value="Консолидация">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Консолидация
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="subject"
                                                        value="Анализ отклонений">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Анализ отклонений
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="subject"
                                                        value="Анализ отклонений">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        S&OP и цепи поставок
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="subject"
                                                        value="Стратегия">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Стратегия
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="subject"
                                                        value="Бюджетирование">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Бюджетирование
                                                    </span>
                                                </label>

                                            </div>
                                            <button class="catalog-content__filters-checkboxes-show-all">
                                                <span class="catalog-content__filters-checkboxes-show-all-text">
                                                    Показать все
                                                </span>
                                                <span class="catalog-content__filters-checkboxes-show-all-text">
                                                    Скрыть
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog-content__filters-block js-accordion active">
                                    <button class="catalog-content__filters-block-btn js-accordion-btn">
                                        Отрасль
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#accordion-arrow"></use>
                                        </svg>
                                    </button>
                                    <div class="catalog-content__filters-block-content js-accordion-content">
                                        <div class="catalog-content__filters-block-content-inner">
                                            <div class="catalog-content__filters-checkboxes">
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="industry"
                                                        value="Диверсифицированный холдинг">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Диверсифицированный холдинг
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="industry"
                                                        value="Промышленность и производство">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Промышленность и производство
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="industry"
                                                        value="Машиностроение">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Машиностроение
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="industry"
                                                        value="Металлургия">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Металлургия
                                                    </span>
                                                </label>
                                                <label class="catalog-content__filters-checkbox">
                                                    <input type="checkbox"
                                                        class="catalog-content__filters-checkbox-input" name="industry"
                                                        value="Добыча полезных ископаемых">
                                                    <span class="catalog-content__filters-checkbox-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-content__filters-checkbox-text">
                                                        Добыча полезных ископаемых
                                                    </span>
                                                </label>


                                            </div>
                                            <button class="catalog-content__filters-checkboxes-show-all">
                                                <span class="catalog-content__filters-checkboxes-show-all-text">
                                                    Показать все
                                                </span>
                                                <span class="catalog-content__filters-checkboxes-show-all-text">
                                                    Скрыть
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- <button class="catalog-content__filters-reset" type="reset">
                                Сбросить все фильтры
                            </button> --}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog-content__main">
            <ul class="catalog-content__projects-list">
                <li class="catalog-content__projects-list-item">
                    <a href="#" class="media-center__card">
                        <ul class="media-center__card-tags-list">
                            <li class="media-center__card-tags-list-item">
                                #кейс
                            </li>
                        </ul>
                        <h3 class="media-center__card-heading">
                            Система расчета стоимости доставки по городам
                            для крупного ритейлера
                            за 6 месяцев
                        </h3>
                        <div class="media-center__card-bottom-row">
                            <div class="media-center__card-date">
                                21.08.2023
                            </div>
                            <div class="media-center__card-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="catalog-content__projects-list-item">
                    <a href="#" class="media-center__card">
                        <ul class="media-center__card-tags-list">
                            <li class="media-center__card-tags-list-item">
                                #кейс
                            </li>
                        </ul>
                        <h3 class="media-center__card-heading">
                            Система расчета стоимости доставки по городам
                            для крупного ритейлера
                            за 6 месяцев
                        </h3>
                        <div class="media-center__card-bottom-row">
                            <div class="media-center__card-date">
                                21.08.2023
                            </div>
                            <div class="media-center__card-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="catalog-content__projects-list-item">
                    <a href="#" class="media-center__card">
                        <ul class="media-center__card-tags-list">
                            <li class="media-center__card-tags-list-item">
                                #кейс
                            </li>
                        </ul>
                        <h3 class="media-center__card-heading">
                            Система расчета стоимости доставки по городам
                            для крупного ритейлера
                            за 6 месяцев
                        </h3>
                        <div class="media-center__card-bottom-row">
                            <div class="media-center__card-date">
                                21.08.2023
                            </div>
                            <div class="media-center__card-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="catalog-content__projects-list-item">
                    <a href="#" class="media-center__card">
                        <ul class="media-center__card-tags-list">
                            <li class="media-center__card-tags-list-item">
                                #кейс
                            </li>
                        </ul>
                        <h3 class="media-center__card-heading">
                            Система расчета стоимости доставки по городам
                            для крупного ритейлера
                            за 6 месяцев
                        </h3>
                        <div class="media-center__card-bottom-row">
                            <div class="media-center__card-date">
                                21.08.2023
                            </div>
                            <div class="media-center__card-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="catalog-content__projects-list-item">
                    <a href="#" class="media-center__card">
                        <ul class="media-center__card-tags-list">
                            <li class="media-center__card-tags-list-item">
                                #кейс
                            </li>
                        </ul>
                        <h3 class="media-center__card-heading">
                            Система расчета стоимости доставки по городам
                            для крупного ритейлера
                            за 6 месяцев
                        </h3>
                        <div class="media-center__card-bottom-row">
                            <div class="media-center__card-date">
                                21.08.2023
                            </div>
                            <div class="media-center__card-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="catalog-content__projects-list-item">
                    <a href="#" class="media-center__card">
                        <ul class="media-center__card-tags-list">
                            <li class="media-center__card-tags-list-item">
                                #кейс
                            </li>
                        </ul>
                        <h3 class="media-center__card-heading">
                            Система расчета стоимости доставки по городам
                            для крупного ритейлера
                            за 6 месяцев
                        </h3>
                        <div class="media-center__card-bottom-row">
                            <div class="media-center__card-date">
                                21.08.2023
                            </div>
                            <div class="media-center__card-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="catalog-content__projects-list-item">
                    <a href="#" class="media-center__card">
                        <ul class="media-center__card-tags-list">
                            <li class="media-center__card-tags-list-item">
                                #кейс
                            </li>
                        </ul>
                        <h3 class="media-center__card-heading">
                            Система расчета стоимости доставки по городам
                            для крупного ритейлера
                            за 6 месяцев
                        </h3>
                        <div class="media-center__card-bottom-row">
                            <div class="media-center__card-date">
                                21.08.2023
                            </div>
                            <div class="media-center__card-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="catalog-content__projects-list-item">
                    <a href="#" class="media-center__card">
                        <ul class="media-center__card-tags-list">
                            <li class="media-center__card-tags-list-item">
                                #кейс
                            </li>
                        </ul>
                        <h3 class="media-center__card-heading">
                            Система расчета стоимости доставки по городам
                            для крупного ритейлера
                            за 6 месяцев
                        </h3>
                        <div class="media-center__card-bottom-row">
                            <div class="media-center__card-date">
                                21.08.2023
                            </div>
                            <div class="media-center__card-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" class="catalog-content__show-more">
                Показать еще
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#show-more"></use>
                </svg>
            </a>
        </div>
    </div>
</section>