<section class="catalog-header">
    <div class="catalog-header__content">
        <div class="catalog-header__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Отраслевой опыт
            </a>
        </div>
        <h1 class="catalog-header__heading">
            отраслевой опыт
        </h1>
        <div class="catalog-header__text">
            Узнайте какие проекты мы реализуем вместе с нашими клиентами, чтобы приблизиться к решению вашей задачи
        </div>
        <a href="#callback-modal" class="catalog-header__link js-modal-open">
            Связаться с нами
            <span class="catalog-header__link-icon">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#more-arrow"></use>
                </svg>
            </span>
        </a>
    </div>
</section>