<section class="contacts-page">
    <div class="contacts-page__content">
        <div class="contacts-page__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Контакты
            </a>
        </div>
        <h1 class="contacts-page__heading">
            контакты
        </h1>
        <div class="contacts-page__layout">
            <div class="contacts-page__info">
                <div class="contacts-page__info-item active">
                    <div class="contacts-page__info-card">
                        <ul class="contacts-page__info-list">
                            <li class="contacts-page__info-list-item">
                                <h3 class="contacts-page__info-key">
                                    Адрес
                                </h3>
                                <div class="contacts-page__info-value">
                                    ул. Оптиков, д.4, корп. 3, лит. А, БЦ<br> «Лахта-2»
                                </div>
                            </li>
                            <li class="contacts-page__info-list-item">
                                <h3 class="contacts-page__info-key">
                                    Время работы
                                </h3>
                                <div class="contacts-page__info-value">
                                    С 8.00 до 20.00
                                </div>
                            </li>
                        </ul>
                        <div class="contacts-page__info-links">
                            <a href="tel:+74952300127" class="contacts-page__info-link">
                                +7 (495) 230-01-27
                            </a>
                            <a href="mailto:epm@korusconsulting.ru" class="contacts-page__info-link">
                                epm@korusconsulting.ru
                            </a>
                        </div>
                        <a href="#" class="contacts-page__telegram">
                            Мы в Telegram
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="contacts-page__info-item">
                    <div class="contacts-page__info-card">
                        <ul class="contacts-page__info-list">
                            <li class="contacts-page__info-list-item">
                                <h3 class="contacts-page__info-key">
                                    Адрес
                                </h3>
                                <div class="contacts-page__info-value">
                                    Москва, Дербеневская наб. 11, БЦ Полларс, корп. А, офис 401
                                </div>
                            </li>
                            <li class="contacts-page__info-list-item">
                                <h3 class="contacts-page__info-key">
                                    Время работы
                                </h3>
                                <div class="contacts-page__info-value">
                                    С 8.00 до 20.00
                                </div>
                            </li>
                        </ul>
                        <div class="contacts-page__info-links">
                            <a href="tel:+74952300127" class="contacts-page__info-link">
                                +7 (495) 230-01-27
                            </a>
                            <a href="mailto:epm@korusconsulting.ru" class="contacts-page__info-link">
                                epm@korusconsulting.ru
                            </a>
                        </div>
                        <a href="#" class="contacts-page__telegram">
                            Мы в Telegram
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="contacts-page__maps">
                <div class="contacts-page__cities">
                    <button class="contacts-page__cities-btn active">
                        <span class="contacts-page__cities-btn-indicator"></span>
                        Москва
                    </button>
                    <button class="contacts-page__cities-btn">
                        Санкт-Петербург
                    </button>
                </div>
                <div class="contacts-page__maps-items">
                    <div class="contacts-page__maps-item active">
                        <div class="contacts-page__maps-slider-card js-contacts-map" data-pin="/images/pin.svg"
                            data-lat="55.721176" data-lng="37.652040">
                            <div class="contacts-page__maps-slider-card-element js-contacts-map-element">

                            </div>
                        </div>
                    </div>
                    <div class="contacts-page__maps-item">
                        <div class="contacts-page__maps-slider-card js-contacts-map" data-pin="/images/pin.svg"
                            data-lat="55.721176" data-lng="37.652040">
                            <div class="contacts-page__maps-slider-card-element js-contacts-map-element">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>