<section class="control">
    <div class="control__content">
        <h2 class="control__heading">
            Предвидеть и управлять
        </h2>
        <div class="control__slider js-control-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="control__slider-card">
                            <h3 class="control__slider-card-title">
                                Детальное и связанное планирование стратегии развития
                            </h3>
                            <ul class="control__slider-card-list">
                                <li class="control__slider-card-list-item">
                                    Интегрируйте между собой бизнес-планы различных подразделений и функций компании на
                                    горизонтах управления от стратегического до оперативного.
                                </li>
                                <li class="control__slider-card-list-item">
                                    Назначайте ответственных за выполнение мероприятий и достижение целей.
                                </li>
                                <li class="control__slider-card-list-item">
                                    Учитывайте долгосрочные инвестиционные проекты и инициативы.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="control__slider-card">
                            <h3 class="control__slider-card-title">
                                Моделирование будущего компании
                            </h3>
                            <ul class="control__slider-card-list">
                                <li class="control__slider-card-list-item">
                                    Моделируйте различные сценарии развития компании, в зависимости от изменения
                                    условий, таких как курс валют, цены на сырье, открытие новых направлений
                                </li>
                                <li class="control__slider-card-list-item">
                                    Тестируйте бизнес-гипотезы в аналитической среде, оценивайте выгоды и риски с
                                    помощью инструмента “что, если…”
                                </li>
                                <li class="control__slider-card-list-item">
                                    Получайте инсайты для дальнейших управленческих решений
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="control__slider-card">
                            <h3 class="control__slider-card-title">
                                Определение наилучшего пути достижения стратегических целей
                            </h3>
                            <ul class="control__slider-card-list">
                                <li class="control__slider-card-list-item">
                                    Составляйте несколько сценариев развития событий и выбирайте сбалансированный план
                                </li>
                                <li class="control__slider-card-list-item">
                                    Держите под рукой запасные варианты при изменении хода событий
                                </li>
                                <li class="control__slider-card-list-item">
                                    Определяйте драйверы достижения стратегических целей и управляйте ими.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="control__slider-card">
                            <h3 class="control__slider-card-title">
                                Прогнозирование и оценка возможных рисков
                            </h3>
                            <ul class="control__slider-card-list">
                                <li class="control__slider-card-list-item">
                                    Узнавайте заблаговременно, где могут возникнуть трудности при реализации стратегии и
                                    нивелируйте риски
                                </li>
                                <li class="control__slider-card-list-item">
                                    Оценивайте и планируйте макроэкономические факторы
                                </li>
                                <li class="control__slider-card-list-item">
                                    Оценивайте и планируйте внутренние ресурсы для различных вариантов развития бизнеса.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scrollbar"></div>
        </div>
    </div>
</section>