<section class="experience">
    <div class="experience__content">
        <h2 class="experience__heading">
            Отраслевой опыт
        </h2>
        <div class="experience__slider js-experience-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/1.webp" alt="" class="experience__slider-card-bg-image"
                                    loading="lazy">
                            </div>
                            <div class="experience__slider-card-row">
                                <h3 class="experience__slider-card-title">
                                    Промышленность<br>
                                    и производство
                                </h3>
                                <div class="experience__slider-card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/2.webp" alt="" class="experience__slider-card-bg-image"
                                    loading="lazy">
                            </div>
                            <div class="experience__slider-card-row">
                                <h3 class="experience__slider-card-title">
                                    Нефтегазовый сектор
                                </h3>
                                <div class="experience__slider-card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/3.webp" alt="" class="experience__slider-card-bg-image"
                                    loading="lazy">
                            </div>
                            <div class="experience__slider-card-row">
                                <h3 class="experience__slider-card-title">
                                    Транспорт<br>
                                    и логистика
                                </h3>
                                <div class="experience__slider-card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/4.webp" alt="" class="experience__slider-card-bg-image"
                                    loading="lazy">
                            </div>
                            <div class="experience__slider-card-row">
                                <h3 class="experience__slider-card-title">
                                    Металлургия
                                </h3>
                                <div class="experience__slider-card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/5.webp" alt="" class="experience__slider-card-bg-image"
                                    loading="lazy">
                            </div>
                            <div class="experience__slider-card-row">
                                <h3 class="experience__slider-card-title">
                                    Финансовый сектор
                                </h3>
                                <div class="experience__slider-card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/6.webp" alt="" class="experience__slider-card-bg-image"
                                    loading="lazy">
                            </div>
                            <div class="experience__slider-card-row">
                                <h3 class="experience__slider-card-title">
                                    Сельское хозяйство<br> и АПК
                                </h3>
                                <div class="experience__slider-card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/7.webp" alt="" class="experience__slider-card-bg-image"
                                    loading="lazy">
                            </div>
                            <div class="experience__slider-card-row">
                                <h3 class="experience__slider-card-title">
                                    Фарма<br> и здравоохранение
                                </h3>
                                <div class="experience__slider-card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/8.webp" alt="" class="experience__slider-card-bg-image"
                                    loading="lazy">
                            </div>
                            <div class="experience__slider-card-row">
                                <h3 class="experience__slider-card-title">
                                    Розничная торговля
                                </h3>
                                <div class="experience__slider-card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="experience__link">
            Найдите свою отрасль
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#more-arrow"></use>
            </svg>
        </a>
    </div>
</section>