<section class="experience-detail-intro">
    <div class="experience-detail-intro__content">
        <div class="experience-detail-top-wrapper">


            <div class="experience-detail-intro__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#">
                    Отраслевой опыт
                </a>
                <a href="#" class="active">
                    Стратегическое планирование и моделирование
                </a>
            </div>
            <h1 class="experience-detail-intro__heading">
                ВНЕДРЕНИЕ СИСТЕМЫ БЮДЖЕТИРОВАНИЯ
                И ФОРМИРОВАНИЯ УПРАВЛЕНЧЕСКОЙ ОТЧЕТНОСТИ
                В DELKO
            </h1>
            <div class="experience-detail-intro__text">
                Проект показал, что уровень зрелости отечественных ЕРМ систем позволяет автоматизировать сложные модели
                и
                управлять большими объемами данных высокой степени детализации.
            </div>
        </div>
        <div class="experience-detail-intro__card">
            <div class="experience-detail-intro__card-bg">
                <img src="/images/experience-detail-intro.webp" alt="" class="experience-detail-intro__card-bg-image">
            </div>
            <div class="experience-detail-intro__card-content">
                <ul class="experience-detail-intro__card-list">
                    <li class="experience-detail-intro__card-list-item">
                        <b>Направление:</b> стратегия, бюджетирование, консолидация
                    </li>
                    <li class="experience-detail-intro__card-list-item">
                        <b>Платформа:</b> Optimacros
                    </li>
                    <li class="experience-detail-intro__card-list-item">
                        <b>Отрасль:</b> транспорт и логистика, диверсифицированный холдинг
                    </li>
                    <li class="experience-detail-intro__card-list-item">
                        <b>Срок реализации:</b> 2023 год, 8 месяцев
                    </li>
                </ul>
                <a href="#" class="experience-detail-intro__link">
                    Читать пресс-релиз
                    <span class="experience-detail-intro__link-icon">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#more-arrow"></use>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>