<section class="features">
    <div class="features__bg">
        <img src="/images/features.webp" alt="" class="features__bg-image" loading="lazy">
        <img src="/images/features-mask.svg" alt="" class="features__bg-mask">
        <img src="/images/features-mask.svg" alt="" class="features__bg-mask">
    </div>
    <div class="features__content">
        <div class="features__text-content">
            <h2 class="features__heading">
                сила быть командой
            </h2>
            <ul class="features__list">
                <li class="features__list-item">
                    <div class="features__card">
                        <h3 class="features__card-title">
                            20+
                        </h3>
                        <div class="features__card-text">
                            лет успешной<br>
                            работы
                        </div>
                    </div>
                </li>
                <li class="features__list-item">
                    <div class="features__card">
                        <h3 class="features__card-title">
                            300+
                        </h3>
                        <div class="features__card-text">
                            реализованных<br>
                            проектов
                        </div>
                    </div>
                </li>
                <li class="features__list-item">
                    <div class="features__card">
                        <h3 class="features__card-title">
                            70+
                        </h3>
                        <div class="features__card-text">
                            сертифицированных<br>
                            специалистов
                        </div>
                    </div>
                </li>
                <li class="features__list-item">
                    <div class="features__card">
                        <h3 class="features__card-title">
                            75+
                        </h3>
                        <div class="features__card-text">
                            международных<br>
                            сертификатов
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="features__advantages">
            <div class="features__slider js-features-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="features__slider-card">
                                <b>В проектах принимают участие сильнейшие бизнес -
                                    и технические архитекторы на рынке</b> приложений
                                по управлению эффективностью бизнеса
                                и аналитической отчетности.
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="features__slider-card">
                                <b>Широкая отраслевая экспертиза</b> обеспечивает понимание того, как устроены процессы
                                в конкретном бизнесе.
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="features__slider-card">
                                <b>Отработанный подход к управлению
                                    и реализации проектов</b> позволяет получать быстрые результаты.
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="features__slider-card">
                                <b>Самый большой штат в РФ по практике бюджетирования,</b> который в любой момент
                                может предоставить дополнительные ресурсы
                                для проекта.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="features__learn-more">
                Познакомьтесь с командой
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#more-arrow"></use>
                </svg>
            </a>
        </div>
    </div>
</section>