<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__top-row">
            <a href="/" class="page-footer__logo">
                <img src="/images/logo.svg" alt="" class="page-footer__logo-image">
            </a>
            <nav class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Услуги
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Платформы
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Отраслевой опыт
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Клиенты
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Команда
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Медиа-центр
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="page-footer__telegram-link">
                Telegram-канал
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#telegram"></use>
                </svg>

            </a>
        </div>
        <div class="page-footer__middle-row">
            <div class="page-footer__offices">
                <ul class="page-footer__offices-list">
                    <li class="page-footer__offices-list-item">
                        <div class="page-footer__offices-card">
                            <h3 class="page-footer__offices-card-title">
                                Москва
                            </h3>
                            <div class="page-footer__offices-card-text">
                                Дербеневская наб., д.11, БЦ<br> «Полларс», корпус А, офис 401
                            </div>
                        </div>
                    </li>
                    <li class="page-footer__offices-list-item">
                        <div class="page-footer__offices-card">
                            <h3 class="page-footer__offices-card-title">
                                Санкт-Петербург
                            </h3>
                            <div class="page-footer__offices-card-text">
                                ул. Оптиков, д.4, корп. 3, лит. А,<br> БЦ «Лахта-2»
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="page-footer__contacts">
                <a href="tel:+74952300127" class="page-footer__phone-link">
                    +7 (495) 230-01-27
                </a>
                <a href="mailto:epm@korusconsulting.ru" class="page-footer__email-link">
                    epm@korusconsulting.ru
                </a>
                <div class="page-footer__join">
                    Присоединиться к команде – <a href="mailto:hrepm@korusconsulting.ru">hrepm@korusconsulting.ru</a>
                </div>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__copyright">
                © КОРУС КОНСАЛТИНГ, 2023
            </div>
            <a href="#" class="page-footer__policy">
                Политика конфиденциальности
            </a>
        </div>
    </div>
</footer>