<section class="functional">
    <div class="functional__content">
        <h2 class="functional__heading">
            Функционал <b>Optimacros</b>
        </h2>
        <div class="functional__slider js-functional-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="functional__slider-card">
                            <h3 class="functional__slider-card-title">
                                Финансовые
                                и аналитические расчеты
                            </h3>
                            <div class="functional__slider-card-text">
                                Расчет отклонений, статистические и эконометрические вычисления
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="functional__slider-card">
                            <h3 class="functional__slider-card-title">
                                Версионный анализ
                            </h3>
                            <div class="functional__slider-card-text">
                                Моделирование и сравнение различных сценариев плана
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="functional__slider-card">
                            <h3 class="functional__slider-card-title">
                                Оптимизационное планирование
                            </h3>
                            <div class="functional__slider-card-text">
                                Решение линейных и нелинейных задач оптимизации
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="functional__slider-card">
                            <h3 class="functional__slider-card-title">
                                Консолидация
                                и каскадирование целей
                            </h3>
                            <div class="functional__slider-card-text">
                                Top-down Planning и Bottom-up Planning
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="functional__slider-card">
                            <h3 class="functional__slider-card-title">
                                Ролевая модель
                            </h3>
                            <div class="functional__slider-card-text">
                                Разграничение прав доступ, регламенты и согласование
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>