<section class="benefits benefits--goals js-benefits-slider">
    <div class="benefits__content">
        <div class="benefits__top-row">
            <h2 class="benefits__heading">
                задачи <b>и вызовы</b>
            </h2>

            <div class="benefits__arrows">
                <button class="benefits__arrow benefits__arrow--prev" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#long-slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="benefits__arrow benefits__arrow--next" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#long-slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="benefits__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <div class="benefits__slider-card-text">
                                <b>Формирование управленческой отчетности</b> по Группе компаний, бизнес-направлениям
                                и подразделениям
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <div class="benefits__slider-card-text">
                                <b>Построение оперативной план-факт отчетности</b> с различной детализацией и анализом
                                отклонений
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <div class="benefits__slider-card-text">
                                <b>Гибкая поддержка изменений модели</b> бюджетирования
                                и формирования управленческой отчетности
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <div class="benefits__slider-card-text">
                                <b>Учет особенностей каждого бизнес-направления,</b> выручка которых планируется по
                                отдельным
                                драйверам.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>