<section class="has-questions">
    <div class="has-questions__content">
        <div class="has-questions__card">
            <div class="has-questions__card-bg">
                <img src="/images/has-questions.webp" alt="" class="has-questions__card-bg-image">

                <div class="has-questions__card-mask">

                </div>
                <div class="has-questions__card-mask">

                </div>
            </div>
            <div class="has-questions__card-content">
                <h2 class="has-questions__card-title">
                    Хотите<br>
                    задать вопрос ?
                </h2>
                <a href="#callback-modal" class="has-questions__link js-modal-open">
                    Связаться с нами
                    <span class="has-questions__link-icon">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#more-arrow"></use>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>