<header class="page-header">
    <div class="page-header__content">
        <a href="/" class="page-header__logo">
            <img src="/images/logo.svg" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__menu">
            <div class="page-header__menu-inner">


                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Услуги
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#mobile-menu-arrow"></use>
                                </svg>
                            </a>
                            <div class="page-header__nav-dropdown">
                                <div class="page-header__nav-dropdown-inner">
                                    <div class="page-header__nav-dropdown-row">
                                        <div class="page-header__nav-dropdown-block">
                                            <a href="#" class="page-header__nav-dropdown-category">
                                                Финансовое планирование,
                                                консолидация и анализ
                                            </a>
                                            <ul class="page-header__nav-dropdown-list">
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Стратегическое планирование
                                                        и моделирование
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Бюджетирование и прогнозирование
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Консолидация отчетности
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Анализ отклонений
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="page-header__nav-dropdown-block">
                                            <a href="#" class="page-header__nav-dropdown-category">
                                                Функциональное планирование
                                                и анализ
                                            </a>
                                            <ul class="page-header__nav-dropdown-list">
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Оптимизационное планирование в
                                                        цепях поставок и
                                                        S&OP
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Планирование
                                                        численности
                                                        и затрат
                                                        на
                                                        персонал
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Планирование
                                                        продаж и
                                                        маркетинга
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Инвестиционное
                                                        и проектное планирование
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="page-header__nav-dropdown-block">
                                            <a href="#" class="page-header__nav-dropdown-category">
                                                Импортозамещение
                                            </a>
                                        </div>
                                        <div class="page-header__nav-dropdown-block">
                                            <a href="#" class="page-header__nav-dropdown-category">
                                                Поддержка и развитие ЕРМ систем
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="page-header__nav-dropdown-more">
                                        Все направления
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#more-arrow"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Платформы
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#mobile-menu-arrow"></use>
                                </svg>
                            </a>
                            <div class="page-header__nav-dropdown">
                                <div class="page-header__nav-dropdown-inner">
                                    <div class="page-header__nav-dropdown-row">
                                        <div class="page-header__nav-dropdown-block">
                                            <a href="#" class="page-header__nav-dropdown-category">
                                                Финансовое планирование,
                                                консолидация и анализ
                                            </a>
                                            <ul class="page-header__nav-dropdown-list">
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Стратегическое планирование
                                                        и моделирование
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Бюджетирование и прогнозирование
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Консолидация отчетности
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Анализ отклонений
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="page-header__nav-dropdown-block">
                                            <a href="#" class="page-header__nav-dropdown-category">
                                                Функциональное планирование
                                                и анализ
                                            </a>
                                            <ul class="page-header__nav-dropdown-list">
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Оптимизационное планирование в
                                                        цепях поставок и
                                                        S&OP
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Планирование
                                                        численности
                                                        и затрат
                                                        на
                                                        персонал
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Планирование
                                                        продаж и
                                                        маркетинга
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Инвестиционное
                                                        и проектное планирование
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="page-header__nav-dropdown-block">
                                            <a href="#" class="page-header__nav-dropdown-category">
                                                Импортозамещение
                                            </a>
                                        </div>
                                        <div class="page-header__nav-dropdown-block">
                                            <a href="#" class="page-header__nav-dropdown-category">
                                                Поддержка и развитие ЕРМ систем
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="page-header__nav-dropdown-more">
                                        Все направления
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#more-arrow"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Отраслевой опыт
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#mobile-menu-arrow"></use>
                                </svg>
                            </a>
                            <div class="page-header__nav-dropdown">
                                <div class="page-header__nav-dropdown-inner">
                                    <div class="page-header__nav-dropdown-row">
                                        <div class="page-header__nav-dropdown-block">
                                            <a href="#" class="page-header__nav-dropdown-category">
                                                Финансовое планирование,
                                                консолидация и анализ
                                            </a>
                                            <ul class="page-header__nav-dropdown-list">
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Стратегическое планирование
                                                        и моделирование
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Бюджетирование и прогнозирование
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Консолидация отчетности
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Анализ отклонений
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="page-header__nav-dropdown-block">
                                            <a href="#" class="page-header__nav-dropdown-category">
                                                Функциональное планирование
                                                и анализ
                                            </a>
                                            <ul class="page-header__nav-dropdown-list">
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Оптимизационное планирование в
                                                        цепях поставок и
                                                        S&OP
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Планирование
                                                        численности
                                                        и затрат
                                                        на
                                                        персонал
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Планирование
                                                        продаж и
                                                        маркетинга
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-dropdown-list-item">
                                                    <a href="#" class="page-header__nav-dropdown-link">
                                                        Инвестиционное
                                                        и проектное планирование
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="page-header__nav-dropdown-block">
                                            <a href="#" class="page-header__nav-dropdown-category">
                                                Импортозамещение
                                            </a>
                                        </div>
                                        <div class="page-header__nav-dropdown-block">
                                            <a href="#" class="page-header__nav-dropdown-category">
                                                Поддержка и развитие ЕРМ систем
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="page-header__nav-dropdown-more">
                                        Все направления
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#more-arrow"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#update-modal" class="page-header__nav-link js-modal-open">
                                Клиенты
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Команда
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Медиа-центр
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="page-header__menu-callback-btn">
                    Связаться с нами
                    <span class="page-header__menu-callback-btn-icon">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
        <form action="/" method="POST" class="page-header__search-form">
            <div class="page-header__search-form-input-wrapper">
                <input type="text" name="q" class="page-header__search-form-input" placeholder="Решение найдется">
            </div>
            <button class="page-header__search-form-btn">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#search"></use>
                </svg>
            </button>
        </form>
        <a href="#" class="page-header__mobile-search">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#mobile-search"></use>
            </svg>
        </a>
        <a href="#callback-modal" class="page-header__contact-us js-modal-open">
            Связаться с нами
            <span class="page-header__contact-us-icon">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </span>
        </a>

        <button class="page-header__burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>