<section class="interface">
    <div class="interface__content">
        <h2 class="interface__heading">
            интерфейс
        </h2>
        <div class="interface__tabs js-tabs">
            <div class="interface__tabs-nav">
                <button class="interface__tabs-nav-arrow interface__tabs-nav-arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="interface__tabs-nav-link js-tabs-btn">
                                Навигационная панель
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="interface__tabs-nav-link js-tabs-btn">
                                Отчеты и графики
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="interface__tabs-nav-link js-tabs-btn">
                                Ввод данных
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="interface__tabs-nav-link js-tabs-btn">
                                Регламенты и согласование
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="interface__tabs-nav-link js-tabs-btn">
                                Интеграция
                            </a>
                        </div>

                    </div>
                </div>
                <button class="interface__tabs-nav-arrow interface__tabs-nav-arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="interface__tabs-items">
                {{#times 5}}
                    <div class="interface__tabs-item js-tabs-item">
                        <div class="interface__inner-slider js-interface-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="interface__inner-slider-card-text">
                                            Управление и ключевые показатели руководителя
                                        </div>
                                        <div class="interface__inner-slider-card-image-wrapper">
                                            <img src="/images/interface/1.webp" alt=""
                                                class="interface__inner-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="interface__inner-slider-card-text">
                                            Управление и ключевые показатели руководителя
                                        </div>
                                        <div class="interface__inner-slider-card-image-wrapper">
                                            <img src="/images/interface/2.webp" alt=""
                                                class="interface__inner-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="interface__inner-slider-card-text">
                                            Управление и ключевые показатели руководителя
                                        </div>
                                        <div class="interface__inner-slider-card-image-wrapper">
                                            <img src="/images/interface/1.webp" alt=""
                                                class="interface__inner-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="interface__inner-slider-card-text">
                                            Управление и ключевые показатели руководителя
                                        </div>
                                        <div class="interface__inner-slider-card-image-wrapper">
                                            <img src="/images/interface/2.webp" alt=""
                                                class="interface__inner-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="interface__inner-slider-wrapper">
                                <button class="interface__inner-slider-arrow interface__inner-slider-arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-left"></use>
                                    </svg>
                                </button>
                                <div class="interface__inner-slider-pagination">

                                </div>
                                <button class="interface__inner-slider-arrow interface__inner-slider-arrow--next">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <a href="#callback-modal" class="interface__link js-modal-open">
                            Запросить Демо
                            <span class="interface__link-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#more-arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                {{/times}}
            </div>
        </div>
    </div>
</section>