<div class="callback-modal js-modal" id="callback-modal" data-lenis-prevent="">
    <div class="callback-modal__inner">
        <button class="callback-modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="callback-modal__content">
            <h3 class="callback-modal__heading">
                Напишите нам
            </h3>
            <div class="callback-modal__text">
                Вы можете задать любой интересующий вопрос через форму обратной связи
                и мы свяжемся с Вами в ближайшее время.
            </div>
            <form action="/" method="POST" class="callback-modal__form js-callback-form">
                <div class="callback-modal__fields">
                    <div class="callback-modal__field">
                        <div class="callback-modal__input-wrapper">
                            <input type="text" class="callback-modal__input" name="your-name" required=""
                                placeholder="Имя" data-alpha="">
                        </div>
                    </div>
                    <div class="callback-modal__field">
                        <div class="callback-modal__input-wrapper">
                            <input type="email" class="callback-modal__input" name="your-email" required=""
                                placeholder="Email">
                        </div>
                    </div>
                    <div class="callback-modal__field">
                        <div class="callback-modal__input-wrapper">
                            <input type="text" class="callback-modal__input" name="your-email" required=""
                                placeholder="Фамилия">
                        </div>
                    </div>
                    <div class="callback-modal__field">
                        <div class="callback-modal__input-wrapper">
                            <input type="text" class="callback-modal__input" name="your-email" placeholder="Компания">
                        </div>
                    </div>
                    <div class="callback-modal__field">
                        <div class="callback-modal__input-wrapper">
                            <input type="tel" class="callback-modal__input" name="your-phone" required=""
                                placeholder="Телефон">
                        </div>
                    </div>
                    <div class="callback-modal__field">
                        <div class="callback-modal__input-wrapper">
                            <input type="text" class="callback-modal__input" name="your-role" placeholder="Должность">
                        </div>
                    </div>
                </div>
                <div class="callback-modal__communication">
                    <h4 class="callback-modal__communication-heading">
                        Предпочтительный способ связи
                    </h4>
                    <div class="callback-modal__communication-radio-buttons">
                        <label class="callback-modal__communication-radio-button">
                            <input type="radio" name="communication" value="Телефон"
                                class="callback-modal__communication-radio-button-input" checked="">
                            <span class="callback-modal__communication-radio-button-mark">

                            </span>
                            <span class="callback-modal__communication-radio-button-text">
                                Телефон
                            </span>
                        </label>
                        <label class="callback-modal__communication-radio-button">
                            <input type="radio" name="communication" value="Email"
                                class="callback-modal__communication-radio-button-input">
                            <span class="callback-modal__communication-radio-button-mark">

                            </span>
                            <span class="callback-modal__communication-radio-button-text">
                                Email
                            </span>
                        </label>
                    </div>
                </div>
                <div class="callback-modal__message">
                    <div class="callback-modal__message-wrapper">
                        <textarea name="your-message" class="callback-modal__message-input"
                            placeholder="Ваше сообщение"></textarea>
                    </div>
                </div>
                <div class="callback-modal__policy">
                    Нажимая на кнопку «Отправить» Вы даёте своё согласие на обработку Персональных данных
                </div>
                <button class="callback-modal__submit" type="submit">
                    Отправить
                    <span class="callback-modal__submit-icon">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#more-arrow"></use>
                        </svg>
                    </span>
                </button>
            </form>
        </div>
        <div class="callback-modal__success">
            <h3 class="callback-modal__success-heading">
                Спасибо!
            </h3>
            <div class="callback-modal__success-text">
                Форма успешно отправлена! Мы скоро свяжемся с вами
            </div>
        </div>
        <div class="callback-modal__error">
            <h3 class="callback-modal__error-heading">
                Упс...
            </h3>
            <div class="callback-modal__error-text">
                Что-то пошло не так, пожалуйста, перезагрузите страницу и отправьте форму повторно.
            </div>
        </div>

    </div>
</div>

<div class="update-modal js-modal" id="update-modal" data-lenis-prevent="">
    <div class="update-modal__inner">
        <button class="update-modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <img src="/images/update-modal.webp" alt="" class="update-modal__image">
        <h3 class="update-modal__heading">
            Наш сайт обновляется, чтобы стать лучше для вас!
        </h3>
        <div class="update-modal__text">
            Пока не все страницы доступны, но мы ценим ваше время и понимаем, что ответы на вопросы вам нужны прямо
            сейчас. Напишите нам и мы предоставим всю необходимую информацию для начала решения вашей задачи.
        </div>
        <form action="/" class="update-modal__form js-update-form">
            <div class="update-modal__form-fields">
                <div class="update-modal__form-field">
                    <div class="update-modal__form-input-wrapper">
                        <input type="text" class="update-modal__form-input" name="your-firstname" placeholder="Имя"
                            required="">
                    </div>
                </div>
                <div class="update-modal__form-field">
                    <div class="update-modal__form-input-wrapper">
                        <input type="email" class="update-modal__form-input" name="your-email" placeholder="Email"
                            required="">
                    </div>
                </div>
                <div class="update-modal__form-field">
                    <div class="update-modal__form-input-wrapper">
                        <input type="email" class="update-modal__form-input" name="your-lastname" placeholder="Фамилия"
                            required="">
                    </div>
                </div>
                <div class="update-modal__form-field">
                    <div class="update-modal__form-input-wrapper">
                        <input type="text" class="update-modal__form-input" name="your-company" placeholder="Компания">
                    </div>
                </div>
                <div class="update-modal__form-field">
                    <div class="update-modal__form-input-wrapper">
                        <input type="tel" class="update-modal__form-input" name="your-phone" placeholder="Телефон"
                            required="">
                    </div>
                </div>
                <div class="update-modal__form-field">
                    <div class="update-modal__form-input-wrapper">
                        <input type="text" class="update-modal__form-input" name="your-role" placeholder="Должность">
                    </div>
                </div>
            </div>
            <div class="update-modal__policy">
                Нажимая на кнопку «Получить» Вы даёте своё согласие на обработку <a href="#">Персональных данных</a>
            </div>
            <button class="update-modal__submit" type="submit">
                Получить
                <span class="update-modal__submit-icon">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#more-arrow"></use>
                    </svg>
                </span>
            </button>
        </form>
    </div>
</div>


<div class="client-modal js-modal" id="client-modal" data-lenis-prevent="">
    <div class="client-modal__inner">
        <button class="client-modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>

            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#filters-close"></use>
            </svg>
        </button>

        <div class="client-modal__card">
            <div class="client-modal__card-bg">
                <img src="/images/client-modal-bg.webp" alt="" class="client-modal__card-bg-image">
            </div>
            <div class="client-modal__card-content">
                <img src="/images/client-logo.svg" alt="" class="client-modal__card-logo">
                <div class="client-modal__card-text">
                    Delko – федеральная транспортная компания с более, чем 20-летней историей. В компании работает
                    свыше 4900 сотрудников, а география грузоперевозок охватывает территорию России, страны СНГ и
                    международные направления.
                    С нами с 2023 года. 
                </div>
            </div>
        </div>
        <ul class="client-modal__features-list">
            <li class="client-modal__features-list-item">
                <div class="client-modal__features-card">
                    <h3 class="client-modal__features-card-title">
                        NDA
                    </h3>
                    <div class="client-modal__features-card-text">
                        Так бывает, что наши клиенты не могут раскрывать детали проекта. Для вас мы также сохраним
                        конфиденциальность, если это важно.
                    </div>
                </div>
            </li>
            <li class="client-modal__features-list-item">
                <div class="client-modal__features-card">
                    <h3 class="client-modal__features-card-title">
                        Проект идет
                    </h3>
                    <div class="client-modal__features-card-text">
                        и детали появятся здесь позднее
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>
<div class="client-modal js-modal" id="client-modal-2" data-lenis-prevent="">
    <div class="client-modal__inner">
        <button class="client-modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>

            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#filters-close"></use>
            </svg>
        </button>

        <div class="client-modal__card">
            <div class="client-modal__card-bg">
                <img src="/images/client-modal-bg.webp" alt="" class="client-modal__card-bg-image">
            </div>
            <div class="client-modal__card-content">
                <img src="/images/client-logo.svg" alt="" class="client-modal__card-logo">
                <div class="client-modal__card-text">
                    Delko – федеральная транспортная компания с более, чем 20-летней историей. В компании работает
                    свыше 4900 сотрудников, а география грузоперевозок охватывает территорию России, страны СНГ и
                    международные направления.
                    С нами с 2023 года. 
                </div>
            </div>
        </div>
        <div class="client-modal__projects">
            <h3 class="client-modal__projects-heading">
                Совместные проекты
            </h3>
            <ul class="client-modal__list">
                <li class="client-modal__list-item">
                    <a href="#" class="project-card">
                        <div class="project-card__bg">
                            <img src="/images/about/4.webp" alt="" class="project-card__bg-image" loading="lazy" />
                            <div class="project-card__plus">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="project-card__content">
                            <h3 class="project-card__title">ВНЕДРЕНИЕ СИСТЕМЫ БЮДЖЕТИРОВАНИЯ И ФОРМИРОВАНИЯ
                                УПРАВЛЕНЧЕСКОЙ ОТЧЕТНОСТИ
                                В <b>DELKO</b></h3>
                        </div>
                        <div class="project-card__popover">
                            <h3 class="project-card__popover-title">
                                ВНЕДРЕНИЕ СИСТЕМЫ БЮДЖЕТИРОВАНИЯ И ФОРМИРОВАНИЯ
                                УПРАВЛЕНЧЕСКОЙ ОТЧЕТНОСТИ
                                В <b>DELKO</b>
                            </h3>
                            <div class="project-card__popover-text">
                                Проект показал, что уровень зрелости отечественных ЕРМ систем позволяет автоматизировать
                                сложные модели и
                                управлять большими объемами данных высокой степени детализации
                            </div>
                            <ul class="project-card__popover-info-list">
                                <li class="project-card__popover-info-list-item">
                                    <b>Направление:</b> стратегия, бюджетирование, консолидация
                                </li>
                                <li class="project-card__popover-info-list-item">
                                    <b>Платформа:</b> Optimacros
                                </li>
                                <li class="project-card__popover-info-list-item">
                                    <b>Отрасль:</b> транспорт и логистика, диверсифицированный холдинг
                                </li>
                            </ul>
                            <div class="project-card__popover-more">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="client-modal__list-item">
                    <a href="#" class="project-card">
                        <div class="project-card__bg">
                            <img src="/images/about/5.webp" alt="" class="project-card__bg-image" loading="lazy" />
                            <div class="project-card__plus">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="project-card__content">
                            <h3 class="project-card__title">ВНЕДРЕНИЕ СИСТЕМЫ БЮДЖЕТИРОВАНИЯ И ФОРМИРОВАНИЯ
                                УПРАВЛЕНЧЕСКОЙ ОТЧЕТНОСТИ
                                В <b>DELKO</b></h3>
                        </div>
                        <div class="project-card__popover">
                            <h3 class="project-card__popover-title">
                                ВНЕДРЕНИЕ СИСТЕМЫ БЮДЖЕТИРОВАНИЯ И ФОРМИРОВАНИЯ
                                УПРАВЛЕНЧЕСКОЙ ОТЧЕТНОСТИ
                                В <b>DELKO</b>
                            </h3>
                            <div class="project-card__popover-text">
                                Проект показал, что уровень зрелости отечественных ЕРМ систем позволяет автоматизировать
                                сложные модели и
                                управлять большими объемами данных высокой степени детализации
                            </div>
                            <ul class="project-card__popover-info-list">
                                <li class="project-card__popover-info-list-item">
                                    <b>Направление:</b> стратегия, бюджетирование, консолидация
                                </li>
                                <li class="project-card__popover-info-list-item">
                                    <b>Платформа:</b> Optimacros
                                </li>
                                <li class="project-card__popover-info-list-item">
                                    <b>Отрасль:</b> транспорт и логистика, диверсифицированный холдинг
                                </li>
                            </ul>
                            <div class="project-card__popover-more">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>