<section class="media-center">
    <div class="media-center__content">
        <div class="media-center__top-row">
            <h2 class="media-center__heading">
                Другие материалы
            </h2>
            <a href="#" class="media-center__link">
                Больше материалов
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#more-arrow"></use>
                </svg>
            </a>
        </div>
        <div class="media-center__slider js-media-center-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="media-center__card">
                            <ul class="media-center__card-tags-list">
                                <li class="media-center__card-tags-list-item">
                                    #кейс
                                </li>
                            </ul>
                            <h3 class="media-center__card-heading">
                                Система расчета стоимости доставки по городам
                                для крупного ритейлера
                                за 6 месяцев
                            </h3>
                            <div class="media-center__card-bottom-row">
                                <div class="media-center__card-date">
                                    21.08.2023
                                </div>
                                <div class="media-center__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="media-center__card">
                            <ul class="media-center__card-tags-list">
                                <li class="media-center__card-tags-list-item">
                                    #статья
                                </li>
                            </ul>
                            <h3 class="media-center__card-heading">
                                Топ рекомендаций
                                для сохранения коллектива
                                и поддержки команды
                                в кризис
                            </h3>
                            <div class="media-center__card-bottom-row">
                                <div class="media-center__card-date">
                                    16.08.2023
                                </div>
                                <div class="media-center__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="media-center__card">
                            <ul class="media-center__card-tags-list">
                                <li class="media-center__card-tags-list-item">
                                    #статья
                                </li>
                            </ul>
                            <h3 class="media-center__card-heading">
                                Александр Левашов:
                                «В ближайший год ждать импортозамещения софта
                                во всех отраслях не стоит»
                            </h3>
                            <div class="media-center__card-bottom-row">
                                <div class="media-center__card-date">
                                    27.07.2023
                                </div>
                                <div class="media-center__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>