<section class="partners">
    <div class="partners__content">
        <h2 class="partners__heading">
            Сильный партнер <br>
            <b>для бизнеса</b>
        </h2>
        <div class="partners__sliders">
            <div class="partners__slider js-partners-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/rzhd-grey.svg" alt=""
                                    class="partners__slider-card-image-grey" loading="lazy">
                                <img src="/images/partners/rzhd-color.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/okey-grey.svg" alt=""
                                    class="partners__slider-card-image-grey" loading="lazy">
                                <img src="/images/partners/okey-grey.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/petrovich-grey.svg" alt=""
                                    class="partners__slider-card-image-grey" loading="lazy">
                                <img src="/images/partners/petrovich-grey.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/gloria-grey.svg" alt=""
                                    class="partners__slider-card-image-grey" loading="lazy">
                                <img src="/images/partners/gloria-grey.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/lenta-grey.svg" alt=""
                                    class="partners__slider-card-image-grey" loading="lazy">
                                <img src="/images/partners/lenta-grey.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/azbuka-grey.svg" alt=""
                                    class="partners__slider-card-image-grey" loading="lazy">
                                <img src="/images/partners/azbuka-grey.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/vtb-grey.svg" alt="" class="partners__slider-card-image-grey"
                                    loading="lazy">
                                <img src="/images/partners/vtb-grey.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/gazneft-grey.svg" alt=""
                                    class="partners__slider-card-image-grey" loading="lazy">
                                <img src="/images/partners/gazneft-grey.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners__slider js-partners-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/magnit-grey.svg" alt=""
                                    class="partners__slider-card-image-grey" loading="lazy">
                                <img src="/images/partners/magnit-grey.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/familia-grey.svg" alt=""
                                    class="partners__slider-card-image-grey" loading="lazy">
                                <img src="/images/partners/familia-grey.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/dpd-grey.svg" alt="" class="partners__slider-card-image-grey"
                                    loading="lazy">
                                <img src="/images/partners/dpd-grey.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/zarub-grey.svg" alt=""
                                    class="partners__slider-card-image-grey" loading="lazy">
                                <img src="/images/partners/zarub-grey.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/ricard-grey.svg" alt=""
                                    class="partners__slider-card-image-grey" loading="lazy">
                                <img src="/images/partners/ricard-grey.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/samokat-grey.svg" alt=""
                                    class="partners__slider-card-image-grey" loading="lazy">
                                <img src="/images/partners/samokat-grey.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <img src="/images/partners/rostelecom-grey.svg" alt=""
                                    class="partners__slider-card-image-grey" loading="lazy">
                                <img src="/images/partners/rostelecom-grey.svg" alt=""
                                    class="partners__slider-card-image-color" loading="lazy">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>