<section class="platforms-catalog">
    <div class="platforms-catalog__content">
        <div class="platforms-catalog__large-text">
            При выборе системы мы предлагаем отталкиваться от ваших задач, требований, специфики бизнеса и лучших
            практик лидеров отрасли.
        </div>
        <div class="platforms-catalog__small-text">
            А также смотреть в будущее и продумывать, как решение будет развиваться в вашей компании дальше, как уже
            сейчас сделать его гибким и адаптивным. 
        </div>
        <ul class="platforms-catalog__list">
            <li class="platforms-catalog__list-item">
                <a href="#" class="platforms-catalog__card">
                    <div class="platforms-catalog__card-top-row">
                        <img src="/images/platforms-catalog/1.svg" alt="" class="platforms-catalog__card-image">
                        <div class="platforms-catalog__card-tags">
                            <div class="platforms-catalog__card-tag">
                                Российское решение
                            </div>
                        </div>
                    </div>
                    <div class="platforms-catalog__card-text">
                        <b>Российское self-service решение Optimacros</b> обладает широким набором функциональных
                        возможностей
                        для решения задач, как классического бюджетирования и консолидации, так и детального
                        планирования отдельных функциональных областей (S&OP, HR, CAPEX, Demand Planning). 
                    </div>
                    <div class="platforms-catalog__card-features">
                        <h3 class="platforms-catalog__card-features-title">
                            Особенности
                        </h3>
                        <div class="platforms-catalog__card-features-text">
                            <p>
                                Быстрое внедрение и первые результаты - от 3 месяцев
                            </p>
                            <p>
                                Установка на серверах компании или в облаке на выбор
                            </p>
                            <p>
                                Self-Service моделирование и развитие системы силами аналитиков компании 
                            </p>
                            <p>
                                Широкое распространение в средних и крупных компаниях 
                            </p>
                        </div>
                    </div>
                    <div class="platforms-catalog__card-link">
                        Подробнее
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="platforms-catalog__list-item">
                <a href="#" class="platforms-catalog__card">
                    <div class="platforms-catalog__card-top-row">
                        <img src="/images/platforms-catalog/2.svg" alt="" class="platforms-catalog__card-image">
                        <div class="platforms-catalog__card-tags">
                            <div class="platforms-catalog__card-tag">
                                Российское решение
                            </div>
                        </div>
                    </div>
                    <div class="platforms-catalog__card-text">
                        <b>Универсальная российская платформа класса EPM</b> для автоматизации планирования,
                        бюджетирования и
                        консолидации данных. Позволяет реализовать масштабные и сложные модели крупных компаний.
                    </div>
                    <div class="platforms-catalog__card-features">
                        <h3 class="platforms-catalog__card-features-title">
                            Особенности
                        </h3>
                        <div class="platforms-catalog__card-features-text">
                            <p>
                                Может решать задачи крупных компаний
                            </p>
                            <p>
                                Архитектура является аналогом ведущих зарубежных систем
                            </p>
                            <p>
                                Возможность подключения более 1000 пользователей
                            </p>
                            <p>
                                Разработан ведущим ИТ-холдингом России
                            </p>
                        </div>
                    </div>
                    <div class="platforms-catalog__card-link">
                        Подробнее
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="platforms-catalog__list-item">
                <a href="#" class="platforms-catalog__card">
                    <div class="platforms-catalog__card-top-row">
                        <img src="/images/platforms-catalog/3.svg" alt="" class="platforms-catalog__card-image">
                        <div class="platforms-catalog__card-tags">
                            <div class="platforms-catalog__card-tag">
                                Российское решение
                            </div>
                        </div>
                    </div>
                    <div class="platforms-catalog__card-text">
                        <b>Российский продукт Форсайт.</b> Бюджетирование помогает автоматизировать планирование и
                        прогнозирование финансовых, экономических и производственных показателей и бюджетов крупных
                        компаний. Предоставляет широкий спектр встроенных аналитических и отчетных инструментов.
                    </div>
                    <div class="platforms-catalog__card-features">
                        <h3 class="platforms-catalog__card-features-title">
                            Особенности
                        </h3>
                        <div class="platforms-catalog__card-features-text">
                            <p>
                                Гибко встраивается в бизнес-процесс компании
                            </p>
                            <p>
                                Удобная визуализация и кастомизированные отчеты
                            </p>
                            <p>
                                BI инструментарий  уже входит в дистрибутив решения
                            </p>
                            <p>
                                Идеально для холдингов со сложной организационной структурой
                            </p>
                        </div>
                    </div>
                    <div class="platforms-catalog__card-link">
                        Подробнее
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="platforms-catalog__list-item">
                <a href="#" class="platforms-catalog__card">
                    <div class="platforms-catalog__card-top-row">
                        <img src="/images/platforms-catalog/4.svg" alt="" class="platforms-catalog__card-image">
                        <div class="platforms-catalog__card-tags">
                            <div class="platforms-catalog__card-tag">
                                Российское решение
                            </div>
                        </div>
                    </div>
                    <div class="platforms-catalog__card-text">
                        <b>Российское решение для интегрированного бизнес-планирования и оптимизации цепей поставок.</b>
                        Имеет
                        встроенный промышленный оптимизатор для выбора подходящего решения на базе математического
                        моделирования.
                    </div>
                    <div class="platforms-catalog__card-features">
                        <h3 class="platforms-catalog__card-features-title">
                            Особенности
                        </h3>
                        <div class="platforms-catalog__card-features-text">
                            <p>
                                Встроенный промышленный оптимизатор
                            </p>
                            <p>
                                Единая многопользовательская среда
                            </p>
                            <p>
                                Планирование на среднесрочном горизонте с шагом от 1 недели
                            </p>
                            <p>
                                Идеально для производственных и FMCG компаний
                            </p>
                        </div>
                    </div>
                    <div class="platforms-catalog__card-link">
                        Подробнее
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="platforms-catalog__list-item">
                <a href="#" class="platforms-catalog__card">
                    <div class="platforms-catalog__card-top-row">
                        <img src="/images/platforms-catalog/5.svg" alt="" class="platforms-catalog__card-image">
                        <div class="platforms-catalog__card-tags">
                            <div class="platforms-catalog__card-tag">
                                Российское решение
                            </div>
                        </div>
                    </div>
                    <div class="platforms-catalog__card-text">
                        <b>Oracle Hyperion – один из лидеров международного рынка по мнению Gartner и компаний, которые
                            уже
                            выбрали это решение.</b> Предоставляет возможности для глубокого анализа бизнес-данных и их
                        влияния
                        на финансовые результаты компании.
                    </div>
                    <div class="platforms-catalog__card-features">
                        <h3 class="platforms-catalog__card-features-title">
                            Особенности
                        </h3>
                        <div class="platforms-catalog__card-features-text">
                            <p>
                                Поддерживает весь цикл управления эффективностью компании
                            </p>
                            <p>
                                Аналитика в режиме реального времени
                            </p>
                            <p>
                                Высокая производительность
                            </p>
                            <p>
                                Сохраняет полную работоспособность для российских компаний
                            </p>
                        </div>
                    </div>
                    <div class="platforms-catalog__card-link">
                        Подробнее
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="platforms-catalog__list-item">
                <a href="#" class="platforms-catalog__card">
                    <div class="platforms-catalog__card-top-row">
                        <img src="/images/platforms-catalog/6.svg" alt="" class="platforms-catalog__card-image">
                        <div class="platforms-catalog__card-tags">
                            <div class="platforms-catalog__card-tag">
                                Российское решение
                            </div>
                        </div>
                    </div>
                    <div class="platforms-catalog__card-text">
                        <b>IBM Planning Analytics – одна из лучших зарубежных ЕРМ систем для планирования и анализа.</b>
                        Позволяет вовлекать бизнес-пользователей в создание и развитие модели, поддерживает практически
                        неограниченное количество сценариев, версий и аналитик.
                    </div>
                    <div class="platforms-catalog__card-features">
                        <h3 class="platforms-catalog__card-features-title">
                            Особенности
                        </h3>
                        <div class="platforms-catalog__card-features-text">
                            <p>
                                Вовлечение бизнес-пользователей в создание и развитие модели
                            </p>
                            <p>
                                Неограниченные возможности по развитию моделей
                            </p>
                            <p>
                                Удобный пользовательский интерфейс
                            </p>
                            <p>
                                Сохраняет полную работоспособность для российских компаний
                            </p>
                        </div>
                    </div>
                    <div class="platforms-catalog__card-link">
                        Подробнее
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>