<section class="platform platform--service">
    <div class="platform__content">
        <h2 class="platform__heading">
            Платформы
        </h2>
        <div class="platform__heading-text">
            Для стратегического планирования
            и моделирования
        </div>
        <div class="platform__slider js-platform-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="platform__slider-card">
                            <img src="/images/platform/1.webp" alt="" class="platform__slider-card-image">
                            <div class="platform__slider-card-text">
                                <b>Российское self-service решение Optimacros</b> обладает широким набором
                                функциональных
                                возможностей
                                для решения задач, как классического бюджетирования и консолидации, так
                                и сложных оптимизационных моделей.
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="platform__slider-card">
                            <img src="/images/platform/2.webp" alt="" class="platform__slider-card-image">
                            <div class="platform__slider-card-text">
                                Российский продукт Форсайт. <b>Бюджетирование помогает автоматизировать планирование
                                    и прогнозирование финансовых, экономических и производственных показателей
                                    компании.</b>
                                Позволяет легко расширять функциональность системы для решения новых задач.
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="platform__slider-card">
                            <img src="/images/platform/3.webp" alt="" class="platform__slider-card-image">
                            <div class="platform__slider-card-text">
                                <b>Универсальная российская платформа класса EPM для автоматизации планирования,
                                    бюджетирования
                                    и консолидации данных.</b> Позволяет создавать формы, отчеты и графики
                                на одном экране с общими элементами управления без программирования.
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>