<section class="platforms-intro">
    <div class="platforms-intro__content">
        <div class="platforms-intro__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Платформы
            </a>
        </div>
        <h1 class="platforms-intro__heading">
            платформы
        </h1>
        <div class="platforms-intro__text">
            Многолетний опыт сотрудничества с лучшими отечественными и зарубежными вендорами позволяет решать ваши
            задачи максимально эффективно. 
        </div>
        <a href="#callback-modal" class="platforms-intro__link js-modal-open">
            Выбрать с экспертом
            <span class="platforms-intro__link-icon">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#more-arrow"></use>
                </svg>
            </span>
        </a>
        <div class="platforms-intro__image-wrapper">
            <img src="/images/platforms-intro.webp" alt="" class="platforms-intro__image">
        </div>
    </div>
</section>