<section class="platform-intro">
    <div class="platform-intro__content">
        <div class="platform__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#">
                Платформы
            </a>
            <a href="#" class="active">
                Optimacros
            </a>
        </div>
        <div class="platform__card">
            <div class="platform__card-bg">
                <img src="/images/platform.webp" alt="" class="platform__card-bg-image">
            </div>
            <div class="platform__card-content">
                <div class="platform__card-inner-wrapper">
                    <img src="/images/platforms/1.svg" alt="" class="platform__card-logo">
                    <h1 class="platform__card-heading">
                        Optimacros
                    </h1>
                    <div class="platform__card-text">
                        Российское self-service решение Optimacros обладает широким набором функциональных возможностей
                        для
                        решения задач, как классического бюджетирования и консолидации, так и сложных оптимизационных
                        моделей.
                    </div>
                    <a href="#callback-modal" class="platform__card-link js-modal-open">
                        Задать вопрос эксперту
                        <span class="platform__card-link-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#more-arrow"></use>
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="platform__card-info">
                    <div class="platform__card-info-item platform__card-info-item--orange">
                        Российское решение
                    </div>
                    <div class="platform__card-info-item">
                        On-premise
                    </div>
                    <div class="platform__card-info-item">
                        Облако
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>