<section class="press-release-text-content">
    <div class="press-release-text-content__content">
        <div class="press-release-text-content__wrapper">
            <div class="press-release-text-content__wrapper-inner">
                <p>
                    <b>
                        ГК «КОРУС Консалтинг» внедрила в Delko систему бюджетирования и формирования управленческой
                        отчетности на базе российской ЕРМ платформы Optimacros, а также интегрировала ее с ERP на базе
                        «1С». Новое решение полностью автоматизирует процессы бюджетирования и соответствует
                        потребностям растущего бизнеса.
                    </b>
                </p>
                <div class="press-release-text-content__image-wrapper">
                    <img src="/images/press-release-image.webp" alt="">
                </div>


                <div class="press-release-text-content__block-with-sidebar">
                    <div class="press-release-text-content__block-with-sidebar-main">
                        <h3>
                            Транспортная компания Delko более 20 лет предоставляет услуги FTL-перевозок на российском
                            и международном рынках.
                        </h3>
                        <p>
                            Последние два года компания находится в фазе активного роста, осваивая новые направления
                            работы.
                            Delko является частью большого холдинга, направления деятельности которого позволяют
                            закрывать
                            потребности растущей компании: лизинг, ремонт, поставка запасных частей, топливо, подготовка
                            профессиональных кадров и многое другое.
                        </p>
                    </div>
                    <div class="press-release-text-content__block-with-sidebar-sidebar">
                        <ul>
                            <li>
                                <b>
                                    От транспортной компании
                                    к диверсифицированному холдингу
                                </b>
                            </li>
                            <li>
                                <b>
                                    Учет особенностей каждого бизнес-направления
                                </b>
                            </li>
                            <li>
                                <b>
                                    Интеграция с 1С:УПП
                                </b>
                            </li>
                            <li>
                                <b>
                                    Результаты и возможности
                                </b>
                            </li>
                        </ul>
                    </div>
                </div>
                <h3>
                    Масштабирование бизнеса потребовало нового подхода к организации финансовых процессов
                </h3>
                <p>
                    Ранее бюджетирование проводилось в программе MS Excel. Процесс поддерживался силами большой команды,
                    а количество файлов достигало 1000 единиц. Данные собирались по разным ЦФО и направлениям, каждое из
                    которых имеет свою специфику в области планирования, бюджетирования и сбора отчетности.Для
                    оптимизации этого процесса требовалась полноценная EPM-система. В качестве инструмента Delko выбрали
                    российский программный продукт Optimacros, внедрением которого занялась команда департамента ЕРМ
                    «КОРУС Консалтинг».
                </p>
                <blockquote>
                    Ранее реализация подобного функционала была возможна лишь на базе зарубежных решений. Теперь мы
                    видим, что комплексная автоматизация с применением нормативно-драйверной модели возможна и на
                    отечественной платформе.
                </blockquote>
                <p>
                    Проект был реализован в сжатые сроки: разработка системы заняла 6 месяцев с учетом тестирования и
                    ОПЭ. За это время была реализована финансовая модель бюджетирования, план на квартал и год, а также
                    стратегический план на 5 лет. Первые результаты компания получила уже через 3 месяца, когда начался
                    сбор фактической отчетности в системе.
                </p>
                <h3>
                    Учет особенностей каждого бизнес-направления
                </h3>
                <p>
                    Помимо автоматизации моделей, обусловленных задачами транспортного бизнеса, необходимо было также
                    учесть особенности каждого из направлений, выручка которых планируется по отдельным драйверам.
                    Например, выручка от транспортных услуг планируется от количества сцепок и пробега, услуг сервиса и
                    технического обслуживания - по видам ремонта от ставок на ремонты и количества техники, в
                    направлении страхования - от размера агентского вознаграждения, количества полисов и страховой
                    премии.
                </p>
                <p>
                    Всего было автоматизировано более 10 различных направлений, каждое из которых использует свои
                    индивидуальные отчеты, модели планирования и прогнозирования: лизинговые платежи в зависимости от
                    типа техники, прогнозирование закупки запчастей, подробное планирование потребности в ремонте исходя
                    из статистики и нормативов, производственное планирование и многое другое. 
                </p>
                <p>
                    С учетом особенностей структуры Delko была предложена двухуровневая модель консолидации, которая
                    позволяет поддерживать большое количество внутригрупповых оборотов и множество корректировок со
                    своими алгоритмами. Каждый бизнес может применять свои индивидуальные методики сбора отчетности,
                    учитывая специфику направления. При этом руководство компании получило единую систему сквозной
                    отчетности по всему холдингу, в которой возможно с верхнего уровня по цепочке дойти до любого уровня
                    детализации, а также анализировать данные разрезах до и после элиминации, отдельно внутригрупповые
                    обороты.
                </p>
                <p>
                    Модели планирования и сбора данных холдинга и бизнес-направлений не требовали значительных
                    корректировок, однако в процессе реализации были выявлены неточности. Таким образом удалось заложить
                    в системе возможность формирования корректных данных.
                </p>
                <h3>
                    Интеграция с 1С:УПП
                </h3>
                <p>
                    На этапе интеграции Optimacros с «1С:УПП» к проекту подключилась команда 1С «КОРУС Консалтинг».
                    Интеграция включает около 100 потоков. Из «1С:УПП» в Optimacros поступает детальная информация по
                    всем видам учета компании: автоматическая загрузка центров затрат, статьи доходов и расходов,
                    загрузка справочника организации и др.
                </p>
                <p>
                    Так как помимо 1С данные в систему поступают также из Excel файлов, был реализован унифицированный
                    подход к сбору и передачи данных с использованием промежуточной FTP папки. Данное решение было
                    внедрено в связи с многообразием отчетности, степенью ее готовности и удобства настройки со стороны
                    заказчика. В результате был разработан универсальный и гибкий механизм, который поддерживает
                    различные варианты источников данных, что позволяет Delko самостоятельно редактировать и дополнять
                    новые потоки данных.
                </p>
                <h3>
                    Результаты и возможности
                </h3>
                <p>
                    В рамках проекта специалисты департамента ЕРМ сформировали в новой системе управленческую отчетность
                    на базе загруженных фактических данных, плановый бюджет по всем бизнес-направлениям на год и на пять
                    лет, а также годовой прогноз корректировки бюджета. Также была разработана система согласования
                    бюджетов по центрам финансовой ответственности, что помогло увеличить полноту и уровень детализации
                    план-факт отчетности.
                </p>
                <p>
                    Новая система позволит значительно ускорить процесс бюджетирования, подготовку управленческой
                    отчетности по всему холдингу и по отдельным бизнес-направлениям, оптимизировать штат, направив
                    ресурсы на более важные задачи.
                    Благодаря автоматизации модели бюджетирования бизнес стал более управляемым. Компания получила
                    возможность быстро анализировать нормативы и драйверы, управлять итоговыми целями и показателями
                    деятельности компании.  Система стала единым источником прозрачных и достоверных данных, где можно
                    посмотреть информацию по всем направлениям и оценить их эффективность, найти точки роста для каждого
                    из них. 
                </p>
            </div>
        </div>
    </div>
</section>