<section class="press-release-intro">
    <div class="press-release-intro__content">
        <div class="press-release-intro__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#">
                Медиа-центр
            </a>
            <a href="#" class="active">
                Стратегическое планирование и моделирование
            </a>
        </div>
        <div class="press-release-intro__wrapper">
            <div class="press-release-intro__wrapper-inner">
                <h1 class="press-release-intro__heading">
                    «КОРУС Консалтинг» автоматизировал систему бюджетирования
                    в транспортной компании Delko
                    на российской платформе Optimacros
                </h1>
                <div class="press-release-intro__bottom-row">
                    <div class="press-release-intro__info">
                        <div class="press-release-intro__info-item press-release-intro__info-item--orange">
                            #пресс-релиз
                        </div>
                        <div class="press-release-intro__info-item">
                            25 октября 2023
                        </div>
                        <div class="press-release-intro__info-item">
                            Время прочтения: 6 минут
                        </div>
                    </div>
                    <a href="#" class="press-release-intro__share-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#sharing"></use>
                        </svg>
                        Поделиться

                    </a>
                </div>
            </div>
        </div>
    </div>
</section>