<section class="project-brief">
    <div class="project-brief__content">
        <div class="project-brief__row">
            <h2 class="project-brief__heading">
                <b>
                    коротко
                </b>
                о проекте
            </h2>
            <div class="project-brief__text">
                <p>
                    <b>
                        Более 20 лет Delko работает в FTL-перевозках на российском и международном рынках, а теперь
                        является также частью большого холдинга. Последние два года компания активно растет
                        и осваивает новые направления: лизинг, ремонт, поставка запасных частей, топливо, подготовка
                        профессиональных кадров и другие. За время проекта мы автоматизировали
                        более 10 направлений, каждое из которых использует индивидуальные отчеты, модели планирования и
                        прогнозирования.
                    </b>
                </p>
                <p>
                    Система стала единым источником прозрачных и достоверных данных, где можно посмотреть информацию по
                    всем направлениям и оценить их эффективность, найти точки роста для каждого
                    из них.
                </p>
            </div>
        </div>
        <div class="project-brief__image-wrapper">
            <img src="/images/project-brief.webp" alt="" class="project-brief__image">
        </div>
    </div>
</section>