<section class="quotes">
    <div class="quotes__content">
        <div class="quotes__authors-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="quotes__author">
                            <div class="quotes__author-image-wrapper">
                                <img src="/images/quote-author.webp" alt="" class="quotes__author-image">
                            </div>
                            <div class="quotes__author-content">
                                <div class="quotes__author-name">
                                    Юрий Орлянский
                                </div>
                                <div class="quotes__author-role">
                                    директор департамента ЕРМ<br>
                                    ГК «КОРУС Консалтинг»
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="quotes__author">
                            <div class="quotes__author-image-wrapper">
                                <img src="/images/quote-author.webp" alt="" class="quotes__author-image">
                            </div>
                            <div class="quotes__author-content">
                                <div class="quotes__author-name">
                                    Юрий Орлянский
                                </div>
                                <div class="quotes__author-role">
                                    директор департамента ЕРМ<br>
                                    ГК «КОРУС Консалтинг»
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="quotes__text-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="quotes__text-content">
                            <div class="quotes__text">
                                «Для нас этот проект стал уникальным и с точки зрения реализации, и с точки зрения
                                взаимодействия с
                                Заказчиком. Мы заходили в транспортную компанию, а по сути, автоматизировали полноценный
                                диверсифицированный холдинг. В момент адаптации системы бизнес находился в процессе
                                роста и изменений.
                                Со стороны Delko в проекте участвовала сильная и прогрессивная команда, все вопросы
                                решались оперативно
                                с максимальным включением, что и позволило получить хороший результат в сжатые сроки».
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="quotes__text-content">
                            <div class="quotes__text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis iusto libero iure,
                                nostrum tenetur, fuga nemo esse distinctio nobis, eum voluptas. Rem aut quisquam iure,
                                amet cumque ipsa consectetur modi!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quotes__controls">
                <button class="quotes__arrow quotes__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <div class="quotes__pagination">

                </div>
                <button class="quotes__arrow quotes__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>

    </div>
</section>