<section class="quote">
    <div class="quote__content">
        <div class="quote__author">
            <div class="quote__author-image-wrapper">
                <img src="/images/quote-author.webp" alt="" class="quote__author-image">
            </div>
            <div class="quote__author-content">
                <div class="quote__author-name">
                    Юрий Орлянский
                </div>
                <div class="quote__author-role">
                    директор департамента ЕРМ<br>
                    ГК «КОРУС Консалтинг»
                </div>
            </div>
        </div>
        <div class="quote__text-content">
            <div class="quote__text">
                «Для нас этот проект стал уникальным и с точки зрения реализации, и с точки зрения взаимодействия с
                Заказчиком. Мы заходили в транспортную компанию, а по сути, автоматизировали полноценный
                диверсифицированный холдинг. В момент адаптации системы бизнес находился в процессе роста и изменений.
                Со стороны Delko в проекте участвовала сильная и прогрессивная команда, все вопросы решались оперативно
                с максимальным включением, что и позволило получить хороший результат в сжатые сроки».
            </div>
            <a href="#" class="quote__link">
                Рекомедательное письмо
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>