<section class="benefits benefits--received js-benefits-slider">
    <div class="benefits__content">
        <div class="benefits__top-row">
            <h2 class="benefits__heading">
                полученный опыт
            </h2>
            <div class="benefits__arrows">
                <button class="benefits__arrow benefits__arrow--prev" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#long-slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="benefits__arrow benefits__arrow--next" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#long-slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="benefits__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <div class="benefits__slider-card-text">
                                За время проекта <b>была реализована финансовая модель бюджетирования, автоматизирован
                                    план
                                    на квартал и год, а также стратегический план на 5 лет.</b> Первые результаты Delko
                                получила
                                уже через 3 месяца, когда начался cбор фактической отчетности в системе.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <div class="benefits__slider-card-text">
                                <b>Система содержит более 1200 отчетов,</b> в том числе специфические отчеты для всех
                                бизнес-направлений ГК, включая лизинг, ремонты, аренду и продажи по типам транспорта и
                                др.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <div class="benefits__slider-card-text">
                                <b>Реализована двухуровневая модель консолидации управленческой отчетности,</b> которая
                                позволяет автоматически сверять большое количество внутригрупповых оборотов и применять
                                множество корректировок со своими алгоритмами.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <div class="benefits__slider-card-text">
                                <b>Разработана система согласования бюджетов по центрам финансовой ответственности,</b>
                                что помогает авторизовать вклад каждого направления и повысить уровень ответственности
                                за результаты.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>