<section class="service-detail-intro">
    <div class="service-detail__intro-content">
        <div class="service-detail__intro-breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#">
                Услуги
            </a>
            <a href="#" class="active">
                Стратегическое планирование и моделирование
            </a>
        </div>
        <h1 class="service-detail__heading">
            Стратегическое планирование
            и моделирование
        </h1>
        <div class="service-detail__text">
            Четкий вектор развития компании с гибкой и адаптивной к изменениям стратегией. Выбирайте только сильные
            сценарии достижения долгосрочных финансовых целей
        </div>
        <a href="#callback-modal" class="service-detail__link js-modal-open">
            Задать вопрос эксперту
            <span class="service-detail__link-icon">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#more-arrow"></use>
                </svg>
            </span>
        </a>
    </div>
    <div class="service-detail__intro-image-wrapper">
        <img src="/images/service-detail-intro.webp" alt="" class="service-detail__intro-image">
    </div>
</section>