<section class="services">
    <div class="services__content">
        <h2 class="services__heading">
            Постановка и автоматизация
            <b>комплексного бизнес–
                планирования </b>
        </h2>
        <div class="services__heading-text">
            с партнером, который помогает оставаться свободным в бизнесе
        </div>
        <div class="services__tabs js-tabs">
            <div class="services__tabs-nav">
                <button class="services__tabs-nav-arrow services__tabs-nav-arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="services__tabs-nav-link js-tabs-btn">
                                Финансы
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="services__tabs-nav-link js-tabs-btn">
                                Стратегия
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="services__tabs-nav-link js-tabs-btn">
                                Zero-based budgeting
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="services__tabs-nav-link js-tabs-btn">
                                Beyond budgeting
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="services__tabs-nav-link js-tabs-btn">
                                Консолидация
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="services__tabs-nav-link js-tabs-btn">
                                HR
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="services__tabs-nav-link js-tabs-btn">
                                Моделирование
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="services__tabs-nav-link js-tabs-btn">
                                Прогнозирование
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="services__tabs-nav-link js-tabs-btn">
                                Факторный анализ
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="services__tabs-nav-link js-tabs-btn">
                                Маржинальность
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="services__tabs-nav-link js-tabs-btn">
                                Оптимизация
                            </a>
                        </div>
                    </div>
                </div>
                <button class="services__tabs-nav-arrow services__tabs-nav-arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="services__tabs-items">
                {{#times 11}}
                    <div class="services__tabs-item js-tabs-item">
                        <div class="services__tab-layout js-inner-tabs">
                            <div class="services__tabs-tab-sidebar">
                                <ul class="services__inner-tab-nav">
                                    <li class="services__inner-tab-nav-item">
                                        <a href="#" class="services__inner-tab-nav-link js-inner-tabs-btn">
                                            <span class="services__inner-tab-nav-link-content">
                                                Финансовое планирование,
                                                консолидация
                                                и анализ
                                            </span>

                                        </a>
                                    </li>
                                    <li class="services__inner-tab-nav-item">
                                        <a href="#" class="services__inner-tab-nav-link js-inner-tabs-btn">
                                            <span class="services__inner-tab-nav-link-content">
                                                Функциональное планирование
                                            </span>
                                        </a>
                                    </li>
                                    <li class="services__inner-tab-nav-item">
                                        <a href="#" class="services__inner-tab-nav-link js-inner-tabs-btn">
                                            <span class="services__inner-tab-nav-link-content">
                                                Импорто-замещение
                                            </span>
                                        </a>
                                    </li>
                                    <li class="services__inner-tab-nav-item">
                                        <a href="#" class="services__inner-tab-nav-link js-inner-tabs-btn">
                                            <span class="services__inner-tab-nav-link-content">
                                                Поддержка
                                                и развитие ЕРМ систем
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#" class="services__all-link">
                                    Все направления
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="services__tabs-tab-main">
                                <div class="services__inner-tabs-items">
                                    {{#times 4}}
                                        <div class="services__inner-tabs-item js-inner-tabs-item">
                                            <div class="services__inner-slider">
                                                <div class="swiper">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <div class="services__inner-tabs-card">
                                                                <div class="services__inner-tabs-card-bg">
                                                                    <img src="/images/services/1.webp" alt=""
                                                                        class="services__inner-tabs-card-bg-image">
                                                                    <div class="services__inner-tabs-card-plus">
                                                                        <svg width="14" height="14" aria-hidden="true">
                                                                            <use xlink:href="#plus"></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                                <div class="services__inner-tabs-card-content">
                                                                    <h3 class="services__inner-tabs-card-title">
                                                                        СТРАТЕГИЧЕСКОЕ ПЛАНИРОВАНИЕ
                                                                        И МОДЕЛИРОВАНИЕ
                                                                    </h3>
                                                                </div>
                                                                <div class="services__inner-tabs-card-popover">
                                                                    <div class="services__inner-tabs-card-text">
                                                                        <b>Четкий вектор развития компании с гибкой
                                                                            и адаптивной к изменениям стратегией.</b>
                                                                        Выбирайте
                                                                        только
                                                                        сильные
                                                                        сценарии достижения долгосрочных финансовых
                                                                        целей.
                                                                    </div>
                                                                    <a href="#" class="services__inner-tabs-card-more">
                                                                        Подробнее
                                                                        <svg width="14" height="14" aria-hidden="true">
                                                                            <use xlink:href="#more-arrow"></use>
                                                                        </svg>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="services__inner-tabs-card">
                                                                <div class="services__inner-tabs-card-bg">
                                                                    <img src="/images/services/2.webp" alt=""
                                                                        class="services__inner-tabs-card-bg-image">
                                                                    <div class="services__inner-tabs-card-plus">
                                                                        <svg width="14" height="14" aria-hidden="true">
                                                                            <use xlink:href="#plus"></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                                <div class="services__inner-tabs-card-content">
                                                                    <h3 class="services__inner-tabs-card-title">
                                                                        БЮДЖЕТИРОВАНИЕ<br>
                                                                        И ПРОГНОЗИРОВАНИЕ
                                                                    </h3>
                                                                </div>
                                                                <div class="services__inner-tabs-card-popover">
                                                                    <div class="services__inner-tabs-card-text">
                                                                        <b>Четкий вектор развития компании с гибкой
                                                                            и адаптивной к изменениям стратегией.</b>
                                                                        Выбирайте
                                                                        только
                                                                        сильные
                                                                        сценарии достижения долгосрочных финансовых
                                                                        целей.
                                                                    </div>
                                                                    <a href="#" class="services__inner-tabs-card-more">
                                                                        Подробнее
                                                                        <svg width="14" height="14" aria-hidden="true">
                                                                            <use xlink:href="#more-arrow"></use>
                                                                        </svg>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="services__inner-tabs-card">
                                                                <div class="services__inner-tabs-card-bg">
                                                                    <img src="/images/services/3.webp" alt=""
                                                                        class="services__inner-tabs-card-bg-image">
                                                                    <div class="services__inner-tabs-card-plus">
                                                                        <svg width="14" height="14" aria-hidden="true">
                                                                            <use xlink:href="#plus"></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                                <div class="services__inner-tabs-card-content">
                                                                    <h3 class="services__inner-tabs-card-title">
                                                                        КОНСОЛИДАЦИЯ ОТЧЕТНОСТИ
                                                                    </h3>
                                                                </div>
                                                                <div class="services__inner-tabs-card-popover">
                                                                    <div class="services__inner-tabs-card-text">
                                                                        <b>Четкий вектор развития компании с гибкой
                                                                            и адаптивной к изменениям стратегией.</b>
                                                                        Выбирайте
                                                                        только
                                                                        сильные
                                                                        сценарии достижения долгосрочных финансовых
                                                                        целей.
                                                                    </div>
                                                                    <a href="#" class="services__inner-tabs-card-more">
                                                                        Подробнее
                                                                        <svg width="14" height="14" aria-hidden="true">
                                                                            <use xlink:href="#more-arrow"></use>
                                                                        </svg>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="services__inner-tabs-card">
                                                                <div class="services__inner-tabs-card-bg">
                                                                    <img src="/images/services/4.webp" alt=""
                                                                        class="services__inner-tabs-card-bg-image">
                                                                    <div class="services__inner-tabs-card-plus">
                                                                        <svg width="14" height="14" aria-hidden="true">
                                                                            <use xlink:href="#plus"></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                                <div class="services__inner-tabs-card-content">
                                                                    <h3 class="services__inner-tabs-card-title">
                                                                        АНАЛИЗ ПРИБЫЛЬНОСТИ И ОТКЛОНЕНИЙ
                                                                    </h3>
                                                                </div>
                                                                <div class="services__inner-tabs-card-popover">
                                                                    <div class="services__inner-tabs-card-text">
                                                                        <b>Четкий вектор развития компании с гибкой
                                                                            и адаптивной к изменениям стратегией.</b>
                                                                        Выбирайте
                                                                        только
                                                                        сильные
                                                                        сценарии достижения долгосрочных финансовых
                                                                        целей.
                                                                    </div>
                                                                    <a href="#" class="services__inner-tabs-card-more">
                                                                        Подробнее
                                                                        <svg width="14" height="14" aria-hidden="true">
                                                                            <use xlink:href="#more-arrow"></use>
                                                                        </svg>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    {{/times}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{/times}}
            </div>
        </div>

        <a href="#" class="services__mobile-all-link">
            Все направления
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#more-arrow"></use>
            </svg>
        </a>
    </div>
</section>