<section class="services-intro">
    <div class="services-intro__content">
        <div class="services-intro__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Услуги
            </a>
        </div>
        <h1 class="services-intro__heading">
            БОЛЬШЕ, ЧЕМ ФИНАНСОВОЕ
            ПЛАНИРОВАНИЕ
        </h1>
        <div class="services-intro__text">
            Получайте от вашей системы планирования не только цифры, но также идеи, чтобы свободно вести бизнес
            вперед.  
        </div>
        <a href="#callback-modal" class="services-intro__link js-modal-open">
            Узнать о возможностях
            <span class="services-intro__link-icon">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#more-arrow"></use>
                </svg>
            </span>
        </a>
    </div>
</section>