<section class="services-slider">
    <div class="services-slider__content js-services-slider">
        <div class="services-slider__image-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="services-slider__card">
                            <div class="services-slider__card-image-masked">
                                <img src="/images/services-slider/1.webp" alt="" class="services-slider__card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__card">
                            <div class="services-slider__card-image-masked">
                                <img src="/images/services-slider/2.webp" alt="" class="services-slider__card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__card">
                            <div class="services-slider__card-image-masked">
                                <img src="/images/services-slider/3.webp" alt="" class="services-slider__card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__card">
                            <div class="services-slider__card-image-masked">
                                <img src="/images/services-slider/4.webp" alt="" class="services-slider__card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__card">
                            <div class="services-slider__card-image-masked">
                                <img src="/images/services-slider/5.webp" alt="" class="services-slider__card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__card">
                            <div class="services-slider__card-image-masked">
                                <img src="/images/services-slider/6.webp" alt="" class="services-slider__card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__card">
                            <div class="services-slider__card-image-masked">
                                <img src="/images/services-slider/7.webp" alt="" class="services-slider__card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__card">
                            <div class="services-slider__card-image-masked">
                                <img src="/images/services-slider/8.webp" alt="" class="services-slider__card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__card">
                            <div class="services-slider__card-image-masked">
                                <img src="/images/services-slider/9.webp" alt="" class="services-slider__card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__card">
                            <div class="services-slider__card-image-masked">
                                <img src="/images/services-slider/10.webp" alt="" class="services-slider__card-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-slider__main-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-hash="strategy">
                        <div class="services-slider__main-slider-card services-slider__main-slider-card--brown">
                            <div class="services-slider__main-slider-card-top">
                                <h2 class="services-slider__main-slider-card-title">
                                    СТРАТЕГИЧЕСКОЕ ПЛАНИРОВАНИЕ
                                    И МОДЕЛИРОВАНИЕ
                                </h2>
                                <div class="services-slider__main-slider-card-text">
                                    Четкий вектор развития компании с гибкой и адаптивной к изменениям стратегией.
                                    Выбирайте только сильные сценарии достижения долгосрочных финансовых целей.
                                </div>
                            </div>
                            <div class="services-slider__main-slider-card-bottom">
                                <h3 class="services-slider__main-slider-card-bottom-title">
                                    СИЛА БЫТЬ ВИЗИОНЕРОМ
                                </h3>
                                <ul class="services-slider__main-slider-card-features-list">
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Планировать в нескольких вариантах
                                        и оптимально распределять ресурсы
                                        на краткосрочном горизонте
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Ставить достижимые цели и гибко управлять оперативной деятельностью
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Анализировать бюджет под разными углами и быстро находить ответы на все
                                        вопросы.
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Сверяться со стратегией в режиме реального времени
                                    </li>
                                </ul>
                                <a href="#" class="services-slider__main-slider-card-bottom-link">
                                    Подробнее
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="budget">
                        <div class="services-slider__main-slider-card services-slider__main-slider-card--blue">
                            <div class="services-slider__main-slider-card-top">
                                <h2 class="services-slider__main-slider-card-title">
                                    БЮДЖЕТИРОВАНИЕ И ПРОГНОЗИРОВАНИЕ
                                </h2>
                                <div class="services-slider__main-slider-card-text">
                                    Скорость и гибкость бюджетной кампании. Легко управляйте оперативными планами,
                                    независимо от того, какую концепцию бюджетирования выбирает ваша компания —
                                    классическую или современную.
                                </div>
                            </div>
                            <div class="services-slider__main-slider-card-bottom">
                                <h3 class="services-slider__main-slider-card-bottom-title">
                                    СИЛА БЫТЬ ВИЗИОНЕРОМ
                                </h3>
                                <ul class="services-slider__main-slider-card-features-list">
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Планировать в нескольких вариантах
                                        и оптимально распределять ресурсы
                                        на краткосрочном горизонте
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Ставить достижимые цели и гибко управлять оперативной деятельностью
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Анализировать бюджет под разными углами и быстро находить ответы на все вопросы.
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Сверяться со стратегией в режиме реального времени
                                    </li>
                                </ul>
                                <a href="#" class="services-slider__main-slider-card-bottom-link">
                                    Подробнее
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="reports">
                        <div class="services-slider__main-slider-card services-slider__main-slider-card--yellow">
                            <div class="services-slider__main-slider-card-top">
                                <h2 class="services-slider__main-slider-card-title">
                                    консолидация отчетности
                                </h2>
                                <div class="services-slider__main-slider-card-text">
                                    Прозрачные, достоверные и качественные данные. Получайте своевременную информацию
                                    для уверенного исполнения корпоративных требований и внешних стандартов. 
                                </div>
                            </div>
                            <div class="services-slider__main-slider-card-bottom">
                                <h3 class="services-slider__main-slider-card-bottom-title">
                                    СИЛА БЫТЬ ЛИДЕРОМ 
                                </h3>
                                <ul class="services-slider__main-slider-card-features-list">
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Объединять учетные системы и создавать единый источник данных
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Предоставлять финансовую
                                        и управленческую отчетность акционерам
                                        и фондам в любой момент
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Получать данные с высокой степенью детализации и легко держать под контролем их
                                        качество
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Повышать аналитичность финансовых результатов по всей группе компаний
                                    </li>
                                </ul>
                                <a href="#" class="services-slider__main-slider-card-bottom-link">
                                    Подробнее
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="analysis">
                        <div class="services-slider__main-slider-card services-slider__main-slider-card--dark-blue">
                            <div class="services-slider__main-slider-card-top">
                                <h2 class="services-slider__main-slider-card-title">
                                    анализ прибыльности и отклонений
                                </h2>
                                <div class="services-slider__main-slider-card-text">
                                    Четкое понимание причин отклонений от плана. Управляйте факторами, которые
                                    непосредственно влияют на маржинальность продуктов и услуг вашей компании.
                                </div>
                            </div>
                            <div class="services-slider__main-slider-card-bottom">
                                <h3 class="services-slider__main-slider-card-bottom-title">
                                    СИЛА БЫТЬ реформатором
                                </h3>
                                <ul class="services-slider__main-slider-card-features-list">
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Строить и автоматизировать бюджетные модели с высокой степенью детализации
                                        данных
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Распределять затраты в соответствии
                                        с реальными или плановыми бизнес-процессами
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Видеть полную цепочку расчета себестоимости на уровне процессов
                                        и продуктов
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Оценивать рентабельность любых объектов для дальнейшего развития или
                                        оптимизации.
                                    </li>
                                </ul>
                                <a href="#" class="services-slider__main-slider-card-bottom-link">
                                    Подробнее
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="optimization">
                        <div class="services-slider__main-slider-card services-slider__main-slider-card--violet">
                            <div class="services-slider__main-slider-card-top">
                                <h2 class="services-slider__main-slider-card-title">
                                    S&OP И ОПТИМИЗАЦИОННОЕ ПЛАНИРОВАНИЕ В ЦЕПЯХ ПОСТАВОК
                                </h2>
                                <div class="services-slider__main-slider-card-text">
                                    Баланс между уровнем клиентского сервиса и прибыльностью компании. Объединяйте
                                    усилия для достижения общих целей через построение сквозного процесса для всех
                                    участников S&OP. 
                                </div>
                            </div>
                            <div class="services-slider__main-slider-card-bottom">
                                <h3 class="services-slider__main-slider-card-bottom-title">
                                    СИЛА БЫТЬ победителем
                                </h3>
                                <ul class="services-slider__main-slider-card-features-list">
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Создавать единый оптимальный план материальных потоков для всех участников
                                        процесса
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Легко просчитывать различные производственные и рыночные сценарии
                                        и анализировать результаты
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Оптимизировать и находить лучшие варианты построения цепей поставок
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Учитывать существенные ограничения
                                        и управлять рисками.
                                    </li>
                                </ul>
                                <a href="#" class="services-slider__main-slider-card-bottom-link">
                                    Подробнее
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="personnel">
                        <div class="services-slider__main-slider-card services-slider__main-slider-card--cyan">
                            <div class="services-slider__main-slider-card-top">
                                <h2 class="services-slider__main-slider-card-title">
                                    ПЛАНИРОВАНИЕ ЧИСЛЕННОСТИ СОТРУДНИКОВ И ЗАТРАТ НА ПЕРСОНАЛ
                                </h2>
                                <div class="services-slider__main-slider-card-text">
                                    Детальное планирование по сотрудникам, отделам и направлениям. Оптимизируйте одну
                                    и самых затратных статей в PL, чтобы она поддерживала стратегию компании.
                                </div>
                            </div>
                            <div class="services-slider__main-slider-card-bottom">
                                <h3 class="services-slider__main-slider-card-bottom-title">
                                    СИЛА БЫТЬ дипломатом
                                </h3>
                                <ul class="services-slider__main-slider-card-features-list">
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Анализировать финансовые показатели по сотрудникам в различных разрезах
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Оптимизировать стоимость и численность персонала исходя из целей компании
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Моделировать новую организационную структуру и прогнозировать ее влияние на
                                        исполнение стратегии
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Прогнозировать влияние решений по сотрудникам на финансовый результат
                                    </li>
                                </ul>
                                <a href="#" class="services-slider__main-slider-card-bottom-link">
                                    Подробнее
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="sales">
                        <div class="services-slider__main-slider-card services-slider__main-slider-card--cyan-dark">
                            <div class="services-slider__main-slider-card-top">
                                <h2 class="services-slider__main-slider-card-title">
                                    ПЛАНИРОВАНИЕ ПРОДАЖ И МАРКЕТИНГА
                                </h2>
                                <div class="services-slider__main-slider-card-text">
                                    Оптимальное планирование и отслеживание продаж в различных разрезах. Оперативно
                                    влияйте на динамику продаж через осознанные решения и промо акции.
                                </div>
                            </div>
                            <div class="services-slider__main-slider-card-bottom">
                                <h3 class="services-slider__main-slider-card-bottom-title">
                                    СИЛА БЫТЬ решительным
                                </h3>
                                <ul class="services-slider__main-slider-card-features-list">
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Создавать оптимальный продуктовый портфель исходя из целей компании
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Формировать календарь и бюджет регулярных и промо-продаж в единой среде
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Анализировать динамику и оперативно вносить изменения в портфель продаж
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Прогнозировать рыночные факторы
                                        и своевременно запускать эффективные промо
                                    </li>
                                </ul>
                                <a href="#" class="services-slider__main-slider-card-bottom-link">
                                    Подробнее
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="investing">
                        <div class="services-slider__main-slider-card services-slider__main-slider-card--white">
                            <div class="services-slider__main-slider-card-top">
                                <h2 class="services-slider__main-slider-card-title">
                                    ИНВЕСТИЦИОННОЕ И ПРОЕКТНОЕ ПЛАНИРОВАНИЕ
                                </h2>
                                <div class="services-slider__main-slider-card-text">
                                    Акцент на эффективном использовании активов для исполнения стратегии. Эффективное
                                    использование основных средств компании. Смотрите в будущее с уверенностью, что
                                    каждый актив работает на вашу стратегию.  
                                </div>
                            </div>
                            <div class="services-slider__main-slider-card-bottom">
                                <h3 class="services-slider__main-slider-card-bottom-title">
                                    СИЛА БЫТЬ эффективным
                                </h3>
                                <ul class="services-slider__main-slider-card-features-list">
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Бюджетировать затраты в разрезе конкретных проектов и инициатив
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Гибко управлять и корректировать планы при изменении целей компании
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Сравнивать различные сценарии
                                        и варианты использования активов
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Оценивать эффективность и влияние инвестиций на ключевые KPI компании.
                                    </li>
                                </ul>
                                <a href="#" class="services-slider__main-slider-card-bottom-link">
                                    Подробнее
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="import">
                        <div class="services-slider__main-slider-card services-slider__main-slider-card--cyan">
                            <div class="services-slider__main-slider-card-top">
                                <h2 class="services-slider__main-slider-card-title">
                                    ИМПОРТОЗАМЕЩЕНИЕ
                                </h2>
                                <div class="services-slider__main-slider-card-text">
                                    Точный выбор платформы для реализации ваших целей. Получайте удовольствие от новых
                                    возможностей, остальное мы возьмем на себя. 
                                </div>
                            </div>
                            <div class="services-slider__main-slider-card-bottom">
                                <h3 class="services-slider__main-slider-card-bottom-title">
                                    СИЛА БЫТЬ новатором
                                </h3>
                                <ul class="services-slider__main-slider-card-features-list">
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Видеть нюансы и особенности различным систем и выбирать осознанно
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Выстраивать архитектуру с учетом особенностей бизнеса
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Создавать возможности для свободного перехода на новое решение
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Формировать потенциал для гибкого развития нового решения
                                    </li>
                                </ul>
                                <a href="#" class="services-slider__main-slider-card-bottom-link">
                                    Подробнее
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="support">
                        <div class="services-slider__main-slider-card services-slider__main-slider-card--cyan">
                            <div class="services-slider__main-slider-card-top">
                                <h2 class="services-slider__main-slider-card-title">
                                    ПОДДЕРЖКА И РАЗВИТИЕ ЕРМ СИСТЕМ
                                </h2>
                                <div class="services-slider__main-slider-card-text">
                                    Ваша ЕРМ система меняется вместе с вашим бизнесом. Позвольте себе заняться другими
                                    важными задачами.
                                </div>
                            </div>
                            <div class="services-slider__main-slider-card-bottom">
                                <h3 class="services-slider__main-slider-card-bottom-title">
                                    СИЛА БЫТЬ собой
                                </h3>
                                <ul class="services-slider__main-slider-card-features-list">
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Получать максимум эффекта от вложенных
                                        в систему инвестиций
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Оперативно реагировать на изменения внешней среды и целей компании.
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Оставаться уверенным в том, что система помогает качественно решать задачи
                                        бизнеса.
                                    </li>
                                    <li class="services-slider__main-slider-card-features-list-item">
                                        Сохранять время и энергию для развития.
                                    </li>
                                </ul>
                                <a href="#" class="services-slider__main-slider-card-bottom-link">
                                    Подробнее
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-slider__thumbs-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="services-slider__thumbs-slider-card">
                            <div class="services-slider__thumbs-slider-card-image-wrapper">
                                <img src="/images/services-thumbs/1.webp" alt=""
                                    class="services-slider__thumbs-slider-card-image">
                            </div>
                            <div class="services-slider__thumbs-slider-card-content">
                                Стратегия
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__thumbs-slider-card">
                            <div class="services-slider__thumbs-slider-card-image-wrapper">
                                <img src="/images/services-thumbs/2.webp" alt=""
                                    class="services-slider__thumbs-slider-card-image">
                            </div>
                            <div class="services-slider__thumbs-slider-card-content">
                                Бюджетирование
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__thumbs-slider-card">
                            <div class="services-slider__thumbs-slider-card-image-wrapper">
                                <img src="/images/services-thumbs/3.webp" alt=""
                                    class="services-slider__thumbs-slider-card-image">
                            </div>
                            <div class="services-slider__thumbs-slider-card-content">
                                Консолидация
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__thumbs-slider-card">
                            <div class="services-slider__thumbs-slider-card-image-wrapper">
                                <img src="/images/services-thumbs/4.webp" alt=""
                                    class="services-slider__thumbs-slider-card-image">
                            </div>
                            <div class="services-slider__thumbs-slider-card-content">
                                Анализ
                                отклонений
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__thumbs-slider-card">
                            <div class="services-slider__thumbs-slider-card-image-wrapper">
                                <img src="/images/services-thumbs/5.webp" alt=""
                                    class="services-slider__thumbs-slider-card-image">
                            </div>
                            <div class="services-slider__thumbs-slider-card-content">
                                S&OP
                                и цепи поставок
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__thumbs-slider-card">
                            <div class="services-slider__thumbs-slider-card-image-wrapper">
                                <img src="/images/services-thumbs/6.webp" alt=""
                                    class="services-slider__thumbs-slider-card-image">
                            </div>
                            <div class="services-slider__thumbs-slider-card-content">
                                HR
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__thumbs-slider-card">
                            <div class="services-slider__thumbs-slider-card-image-wrapper">
                                <img src="/images/services-thumbs/7.webp" alt=""
                                    class="services-slider__thumbs-slider-card-image">
                            </div>
                            <div class="services-slider__thumbs-slider-card-content">
                                Продажи
                                и маркетинг
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__thumbs-slider-card">
                            <div class="services-slider__thumbs-slider-card-image-wrapper">
                                <img src="/images/services-thumbs/8.webp" alt=""
                                    class="services-slider__thumbs-slider-card-image">
                            </div>
                            <div class="services-slider__thumbs-slider-card-content">
                                Инвестиции
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__thumbs-slider-card">
                            <div class="services-slider__thumbs-slider-card-image-wrapper">
                                <img src="/images/services-thumbs/9.webp" alt=""
                                    class="services-slider__thumbs-slider-card-image">
                            </div>
                            <div class="services-slider__thumbs-slider-card-content">
                                Импорто-
                                замещение
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-slider__thumbs-slider-card">
                            <div class="services-slider__thumbs-slider-card-image-wrapper">
                                <img src="/images/services-thumbs/10.webp" alt=""
                                    class="services-slider__thumbs-slider-card-image">
                            </div>
                            <div class="services-slider__thumbs-slider-card-content">
                                Поддержка
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>