<section class="team-features">
    <div class="team-features__content">
        <div class="team-features__slider js-features-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="team-features__card">
                            <div class="team-features__card-amount">
                                20+
                            </div>
                            <div class="team-features__card-text">
                                лет успешной<br>
                                работы
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-features__card">
                            <div class="team-features__card-amount">
                                300+
                            </div>
                            <div class="team-features__card-text">
                                реализованных<br>
                                проектов
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-features__card">
                            <div class="team-features__card-amount">
                                70+
                            </div>
                            <div class="team-features__card-text">
                                сертифицированных<br>
                                специалистов
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-features__card">
                            <div class="team-features__card-amount">
                                75+
                            </div>
                            <div class="team-features__card-text">
                                международных<br>
                                сертификатов
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-features__large-text">
            <b>Консалтинг - это</b> в первую очередь <b>люди.</b>
            Ценности, которые мы закладываем в работе с нашей командой, помогают нам реализовывать проекты
            на самом высоком уровне.
        </div>

    </div>
</section>