<section class="team-members">
    <div class="team-members__content">
        <h2 class="team-members__heading">
            Забота о команде<br>
            <span></span>
            = забота о
            клиенте
        </h2>
        <div class="team-members__text">
            Команда имеет возможность полноценно направить свое внимание на проекты и развитие компетенций. Мы заряжены
            нашим делом, и клиенты это чувствуют.
        </div>
        <div class="team-members__slider js-team-members-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#team-modal" class="team-members__slider-card js-modal-open">
                            <div class="team-members__slider-card-bg">
                                <img src="/images/members/1.webp" alt="" class="team-members__slider-card-image">
                            </div>
                            <div class="team-members__slider-card-content">
                                <h3 class="team-members__slider-card-title">
                                    Юрий Орлянский
                                </h3>
                                <div class="team-members__slider-card-role">
                                    Директор департамента
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#team-modal" class="team-members__slider-card js-modal-open">
                            <div class="team-members__slider-card-bg">
                                <img src="/images/members/2.webp" alt="" class="team-members__slider-card-image">
                            </div>
                            <div class="team-members__slider-card-content">
                                <h3 class="team-members__slider-card-title">
                                    Максим Слободюк
                                </h3>
                                <div class="team-members__slider-card-role">
                                    Заместитель директора департамента
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#team-modal" class="team-members__slider-card js-modal-open">
                            <div class="team-members__slider-card-bg">
                                <img src="/images/members/3.webp" alt="" class="team-members__slider-card-image">
                            </div>
                            <div class="team-members__slider-card-content">
                                <h3 class="team-members__slider-card-title">
                                    Никита Петраков
                                </h3>
                                <div class="team-members__slider-card-role">
                                    Директор по продажам
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#team-modal" class="team-members__slider-card js-modal-open">
                            <div class="team-members__slider-card-bg">
                                <img src="/images/members/4.webp" alt="" class="team-members__slider-card-image">
                            </div>
                            <div class="team-members__slider-card-content">
                                <h3 class="team-members__slider-card-title">
                                    Елена Хайкина
                                </h3>
                                <div class="team-members__slider-card-role">
                                    Руководитель отдела пресейла и реализации проектов
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#team-modal" class="team-members__slider-card js-modal-open">
                            <div class="team-members__slider-card-bg">
                                <img src="/images/members/5.webp" alt="" class="team-members__slider-card-image">
                            </div>
                            <div class="team-members__slider-card-content">
                                <h3 class="team-members__slider-card-title">
                                    Елена Хайкина
                                </h3>
                                <div class="team-members__slider-card-role">
                                    Руководитель отдела пресейла и реализации проектов
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#team-modal" class="team-members__slider-card js-modal-open">
                            <div class="team-members__slider-card-bg">
                                <img src="/images/members/6.webp" alt="" class="team-members__slider-card-image">
                            </div>
                            <div class="team-members__slider-card-content">
                                <h3 class="team-members__slider-card-title">
                                    Алексей Ходев
                                </h3>
                                <div class="team-members__slider-card-role">
                                    Директор проектного офиса
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#team-modal" class="team-members__slider-card js-modal-open">
                            <div class="team-members__slider-card-bg">
                                <img src="/images/members/7.webp" alt=""
                                    class="team-members__slider-card-image team-members__slider-card-image--with-color">
                            </div>
                            <div class="team-members__slider-card-content">
                                <h3 class="team-members__slider-card-title">
                                    Марина Кузнецова
                                </h3>
                                <div class="team-members__slider-card-role">
                                    Руководитель направления Optimacros
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#team-modal" class="team-members__slider-card js-modal-open">
                            <div class="team-members__slider-card-bg team-members__slider-card-bg--placeholder">

                            </div>
                            <div class="team-members__slider-card-content">
                                <h3 class="team-members__slider-card-title">
                                    Маргарита Воронцова
                                </h3>
                                <div class="team-members__slider-card-role">
                                    Руководитель направления финансового планирования и бюджетирования
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#team-modal" class="team-members__slider-card js-modal-open">
                            <div class="team-members__slider-card-bg">
                                <img src="/images/members/8.webp" alt="" class="team-members__slider-card-image">
                            </div>
                            <div class="team-members__slider-card-content">
                                <h3 class="team-members__slider-card-title">
                                    Ксения Шалыгина
                                </h3>
                                <div class="team-members__slider-card-role">
                                    HR BP
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>