<section class="team-basis js-team-basis-slider">
    <div class="team-basis__content">
        <div class="team-basis__top-row">
            <h2 class="team-basis__heading">
                Основа нашей команды
            </h2>
            <div class="team-basis__arrows">
                <button class="team-basis__arrow team-basis__arrow--prev" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#long-slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="team-basis__arrow team-basis__arrow--next" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#long-slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="team-basis__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="team-basis__slider-card">
                            <h3 class="team-basis__slider-card-title">
                                Развитие
                            </h3>
                            <div class="team-basis__slider-card-text">
                                Развиваемся как в профессиональном,
                                так и и в личностном плане, несмотря на то, что бывает лень, не хватает времени или есть
                                ощущение, что
                                "я все знаю".
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-basis__slider-card">
                            <h3 class="team-basis__slider-card-title">
                                Включенность
                            </h3>
                            <div class="team-basis__slider-card-text">
                                Участвуем в мероприятиях по обмену опытом и наработками, рекомендуем друг другу книги,
                                курсы, всячески способствуем взаимному обогащению знаниями.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-basis__slider-card">
                            <h3 class="team-basis__slider-card-title">
                                Партнерство
                            </h3>
                            <div class="team-basis__slider-card-text">
                                Проявляем открытую позицию, гибкость и уважение. Идем навстречу друг другу, честно
                                говорим о том, чего мы хотим и ищем взаимовыгодное решение.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-basis__slider-card">
                            <h3 class="team-basis__slider-card-title">
                                Ответственность
                            </h3>
                            <div class="team-basis__slider-card-text">
                                Не остаемся в стороне, если возникают трудности
                                в рабочих вопросах или личных ситуациях. Уделяем внимание отдыху и восстановлению сил.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>