<section class="thanks">
    <div class="thanks__top">
        <div class="thanks__top-inner">
            <div class="thanks__breadcrumbs">
                <a href="#">
                    Назад на главную
                </a>
            </div>
            <h1 class="thanks__heading">
                спасибо за заявку
            </h1>
            <div class="thanks__text">
                Пожалуйста, дождитесь, когда наши менеджеры свяжутся с Вами.
            </div>
        </div>
    </div>
    <div class="thanks__bottom">
        <div class="thanks__bottom-inner">
            <h2 class="thanks__secondary-heading">
                Пока вы ожидаете наш ответ, делимся полезной информацией
            </h2>
            <ul class="thanks__list">
                <li class="thanks__list-item">
                    <a href="#" class="thanks__card">
                        <div class="thanks__card-image-container">
                            <img src="/images/thanks/1.webp" alt="" class="thanks__card-image">
                        </div>
                        <div class="thanks__card-content">
                            <h3 class="thanks__card-title">
                                о компании
                            </h3>
                            <div class="thanks__card-text">
                                Никто не даст вам пошаговых инструкций, как провести оцифровку. Только зная бизнес
                                изнутри, можно правильно поставить цель и разработать стратегию цифровизации бизнеса.
                            </div>
                            <div class="thanks__card-link">
                                Задать вопрос эксперту
                                <span class="thanks__card-link-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="thanks__list-item">
                    <a href="#" class="thanks__card">
                        <div class="thanks__card-image-container">
                            <img src="/images/thanks/2.webp" alt="" class="thanks__card-image">
                        </div>
                        <div class="thanks__card-content">
                            <h3 class="thanks__card-title">
                                Чек-лист для успешной автоматизации
                            </h3>
                            <div class="thanks__card-text">
                                Никто не даст вам пошаговых инструкций, как провести оцифровку.
                            </div>
                            <div class="thanks__card-link">
                                Скачать чек-лист
                                <span class="thanks__card-link-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="thanks__list-item">
                    <a href="#" class="thanks__card">
                        <div class="thanks__card-image-container">
                            <img src="/images/thanks/3.webp" alt="" class="thanks__card-image">
                        </div>
                        <div class="thanks__card-content">
                            <h3 class="thanks__card-title">
                                Запишитесь на наш вебинар
                            </h3>
                            <div class="thanks__card-text">
                                Никто не даст вам пошаговых инструкций, как провести оцифровку. Только зная бизнес
                                изнутри
                            </div>
                            <div class="thanks__card-link">
                                Скачать чек-лист
                                <span class="thanks__card-link-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="thanks__list-item">
                    <a href="#" class="thanks__card">
                        <div class="thanks__card-image-container">
                            <img src="/images/thanks/4.webp" alt="" class="thanks__card-image">
                        </div>
                        <div class="thanks__card-content">
                            <h3 class="thanks__card-title">
                                Исследование по импортозамещению
                            </h3>
                            <div class="thanks__card-text">
                                Никто не даст вам пошаговых инструкций, как провести оцифровку. Только зная бизнес
                                изнутри
                            </div>
                            <div class="thanks__card-link">
                                Скачать чек-лист
                                <span class="thanks__card-link-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="thanks__faq">
                <h3 class="thanks__faq-heading">
                    частые вопросы
                </h3>
                <div class="thanks__faq-accordions">
                    <div class="thanks__faq-accordion js-accordion">
                        <button class="thanks__faq-accordion-btn js-accordion-btn">
                            <span class="thanks__faq-accordion-btn-text">
                                График работы
                            </span>
                            <span class="thanks__faq-accordion-btn-plus">

                            </span>
                        </button>
                        <div class="thanks__faq-accordion-content js-accordion-content">
                            <div class="thanks__faq-accordion-content-inner">
                                <div class="thanks__faq-accordion-text-content">
                                    <p>
                                        С чего нужно начать, чтобы ускорить подготовку отчетности? Начинаем с небольших
                                        изменений.
                                    </p>
                                    <ul>
                                        <li>
                                            <b>
                                                Структурировать поступающие файлы в почту.
                                            </b>
                                            <p>
                                                Для этого нужно создать общий для всех «дочек» шаблон ввода данных —
                                                тогда файлы перестанут отличаться друг от друга, проверять их будет
                                                проще.
                                            </p>
                                        </li>
                                        <li>
                                            <b>
                                                Установить единый шаблон именования файлов и темы письма для подобных
                                                сообщений.
                                            </b>
                                            <p>
                                                Так их будет проще искать в почте, взаимодействовать с ними будет
                                                удобнее. Часто в качестве шаблона используют
                                                ИмяКомпании_ПериодОтчетности.
                                            </p>
                                        </li>
                                        <li>
                                            <b>
                                                Создать правило в почтовом клиенте и автоматически перемещать письма в
                                                отдельную папку.
                                            </b>
                                            <p>
                                                Если у писем с отчетностью есть стандартные критерии, в почтовом клиенте
                                                можно настроить автоматическое перемещение отчетных таблиц в специальную
                                                папку. Тогда их не нужно будет искать по всей почте и перетаскивать
                                                вручную.
                                            </p>
                                        </li>
                                    </ul>
                                    <p>
                                        Это не автоматизация. Но такие мелочи сделают подготовку отчетности удобнее.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thanks__faq-accordion js-accordion">
                        <button class="thanks__faq-accordion-btn js-accordion-btn">
                            <span class="thanks__faq-accordion-btn-text">
                                Адрес и схема проезда
                            </span>
                            <span class="thanks__faq-accordion-btn-plus">

                            </span>
                        </button>
                        <div class="thanks__faq-accordion-content js-accordion-content">
                            <div class="thanks__faq-accordion-content-inner">
                                <div class="thanks__faq-accordion-text-content">
                                    <p>
                                        С чего нужно начать, чтобы ускорить подготовку отчетности? Начинаем с небольших
                                        изменений.
                                    </p>
                                    <ul>
                                        <li>
                                            <b>
                                                Структурировать поступающие файлы в почту.
                                            </b>
                                            <p>
                                                Для этого нужно создать общий для всех «дочек» шаблон ввода данных —
                                                тогда файлы перестанут отличаться друг от друга, проверять их будет
                                                проще.
                                            </p>
                                        </li>
                                        <li>
                                            <b>
                                                Установить единый шаблон именования файлов и темы письма для подобных
                                                сообщений.
                                            </b>
                                            <p>
                                                Так их будет проще искать в почте, взаимодействовать с ними будет
                                                удобнее. Часто в качестве шаблона используют
                                                ИмяКомпании_ПериодОтчетности.
                                            </p>
                                        </li>
                                        <li>
                                            <b>
                                                Создать правило в почтовом клиенте и автоматически перемещать письма в
                                                отдельную папку.
                                            </b>
                                            <p>
                                                Если у писем с отчетностью есть стандартные критерии, в почтовом клиенте
                                                можно настроить автоматическое перемещение отчетных таблиц в специальную
                                                папку. Тогда их не нужно будет искать по всей почте и перетаскивать
                                                вручную.
                                            </p>
                                        </li>
                                    </ul>
                                    <p>
                                        Это не автоматизация. Но такие мелочи сделают подготовку отчетности удобнее.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thanks__faq-accordion js-accordion">
                        <button class="thanks__faq-accordion-btn js-accordion-btn">
                            <span class="thanks__faq-accordion-btn-text">
                                Как добраться
                            </span>
                            <span class="thanks__faq-accordion-btn-plus">

                            </span>
                        </button>
                        <div class="thanks__faq-accordion-content js-accordion-content">
                            <div class="thanks__faq-accordion-content-inner">
                                <div class="thanks__faq-accordion-text-content">
                                    <p>
                                        С чего нужно начать, чтобы ускорить подготовку отчетности? Начинаем с небольших
                                        изменений.
                                    </p>
                                    <ul>
                                        <li>
                                            <b>
                                                Структурировать поступающие файлы в почту.
                                            </b>
                                            <p>
                                                Для этого нужно создать общий для всех «дочек» шаблон ввода данных —
                                                тогда файлы перестанут отличаться друг от друга, проверять их будет
                                                проще.
                                            </p>
                                        </li>
                                        <li>
                                            <b>
                                                Установить единый шаблон именования файлов и темы письма для подобных
                                                сообщений.
                                            </b>
                                            <p>
                                                Так их будет проще искать в почте, взаимодействовать с ними будет
                                                удобнее. Часто в качестве шаблона используют
                                                ИмяКомпании_ПериодОтчетности.
                                            </p>
                                        </li>
                                        <li>
                                            <b>
                                                Создать правило в почтовом клиенте и автоматически перемещать письма в
                                                отдельную папку.
                                            </b>
                                            <p>
                                                Если у писем с отчетностью есть стандартные критерии, в почтовом клиенте
                                                можно настроить автоматическое перемещение отчетных таблиц в специальную
                                                папку. Тогда их не нужно будет искать по всей почте и перетаскивать
                                                вручную.
                                            </p>
                                        </li>
                                    </ul>
                                    <p>
                                        Это не автоматизация. Но такие мелочи сделают подготовку отчетности удобнее.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thanks__faq-accordion js-accordion">
                        <button class="thanks__faq-accordion-btn js-accordion-btn">
                            <span class="thanks__faq-accordion-btn-text">
                                о компании
                            </span>
                            <span class="thanks__faq-accordion-btn-plus">

                            </span>
                        </button>
                        <div class="thanks__faq-accordion-content js-accordion-content">
                            <div class="thanks__faq-accordion-content-inner">
                                <div class="thanks__faq-accordion-text-content">
                                    <p>
                                        С чего нужно начать, чтобы ускорить подготовку отчетности? Начинаем с небольших
                                        изменений.
                                    </p>
                                    <ul>
                                        <li>
                                            <b>
                                                Структурировать поступающие файлы в почту.
                                            </b>
                                            <p>
                                                Для этого нужно создать общий для всех «дочек» шаблон ввода данных —
                                                тогда файлы перестанут отличаться друг от друга, проверять их будет
                                                проще.
                                            </p>
                                        </li>
                                        <li>
                                            <b>
                                                Установить единый шаблон именования файлов и темы письма для подобных
                                                сообщений.
                                            </b>
                                            <p>
                                                Так их будет проще искать в почте, взаимодействовать с ними будет
                                                удобнее. Часто в качестве шаблона используют
                                                ИмяКомпании_ПериодОтчетности.
                                            </p>
                                        </li>
                                        <li>
                                            <b>
                                                Создать правило в почтовом клиенте и автоматически перемещать письма в
                                                отдельную папку.
                                            </b>
                                            <p>
                                                Если у писем с отчетностью есть стандартные критерии, в почтовом клиенте
                                                можно настроить автоматическое перемещение отчетных таблиц в специальную
                                                папку. Тогда их не нужно будет искать по всей почте и перетаскивать
                                                вручную.
                                            </p>
                                        </li>
                                    </ul>
                                    <p>
                                        Это не автоматизация. Но такие мелочи сделают подготовку отчетности удобнее.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thanks__faq-accordion js-accordion">
                        <button class="thanks__faq-accordion-btn js-accordion-btn">
                            <span class="thanks__faq-accordion-btn-text">
                                какие услуги предоставляете?
                            </span>
                            <span class="thanks__faq-accordion-btn-plus">

                            </span>
                        </button>
                        <div class="thanks__faq-accordion-content js-accordion-content">
                            <div class="thanks__faq-accordion-content-inner">
                                <div class="thanks__faq-accordion-text-content">
                                    <p>
                                        С чего нужно начать, чтобы ускорить подготовку отчетности? Начинаем с небольших
                                        изменений.
                                    </p>
                                    <ul>
                                        <li>
                                            <b>
                                                Структурировать поступающие файлы в почту.
                                            </b>
                                            <p>
                                                Для этого нужно создать общий для всех «дочек» шаблон ввода данных —
                                                тогда файлы перестанут отличаться друг от друга, проверять их будет
                                                проще.
                                            </p>
                                        </li>
                                        <li>
                                            <b>
                                                Установить единый шаблон именования файлов и темы письма для подобных
                                                сообщений.
                                            </b>
                                            <p>
                                                Так их будет проще искать в почте, взаимодействовать с ними будет
                                                удобнее. Часто в качестве шаблона используют
                                                ИмяКомпании_ПериодОтчетности.
                                            </p>
                                        </li>
                                        <li>
                                            <b>
                                                Создать правило в почтовом клиенте и автоматически перемещать письма в
                                                отдельную папку.
                                            </b>
                                            <p>
                                                Если у писем с отчетностью есть стандартные критерии, в почтовом клиенте
                                                можно настроить автоматическое перемещение отчетных таблиц в специальную
                                                папку. Тогда их не нужно будет искать по всей почте и перетаскивать
                                                вручную.
                                            </p>
                                        </li>
                                    </ul>
                                    <p>
                                        Это не автоматизация. Но такие мелочи сделают подготовку отчетности удобнее.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thanks__faq-accordion js-accordion">
                        <button class="thanks__faq-accordion-btn js-accordion-btn">
                            <span class="thanks__faq-accordion-btn-text">
                                как оставить заявку
                            </span>
                            <span class="thanks__faq-accordion-btn-plus">

                            </span>
                        </button>
                        <div class="thanks__faq-accordion-content js-accordion-content">
                            <div class="thanks__faq-accordion-content-inner">
                                <div class="thanks__faq-accordion-text-content">
                                    <p>
                                        С чего нужно начать, чтобы ускорить подготовку отчетности? Начинаем с небольших
                                        изменений.
                                    </p>
                                    <ul>
                                        <li>
                                            <b>
                                                Структурировать поступающие файлы в почту.
                                            </b>
                                            <p>
                                                Для этого нужно создать общий для всех «дочек» шаблон ввода данных —
                                                тогда файлы перестанут отличаться друг от друга, проверять их будет
                                                проще.
                                            </p>
                                        </li>
                                        <li>
                                            <b>
                                                Установить единый шаблон именования файлов и темы письма для подобных
                                                сообщений.
                                            </b>
                                            <p>
                                                Так их будет проще искать в почте, взаимодействовать с ними будет
                                                удобнее. Часто в качестве шаблона используют
                                                ИмяКомпании_ПериодОтчетности.
                                            </p>
                                        </li>
                                        <li>
                                            <b>
                                                Создать правило в почтовом клиенте и автоматически перемещать письма в
                                                отдельную папку.
                                            </b>
                                            <p>
                                                Если у писем с отчетностью есть стандартные критерии, в почтовом клиенте
                                                можно настроить автоматическое перемещение отчетных таблиц в специальную
                                                папку. Тогда их не нужно будет искать по всей почте и перетаскивать
                                                вручную.
                                            </p>
                                        </li>
                                    </ul>
                                    <p>
                                        Это не автоматизация. Но такие мелочи сделают подготовку отчетности удобнее.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>