<section class="we-solve">
    <div class="we-solve__content">
        <h2 class="we-solve__heading">
            решаемые задачи
        </h2>
        <div class="we-solve__slider js-we-solve-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="we-solve__card">
                            <h3 class="we-solve__card-title">
                                Стратегическое планирование
                            </h3>
                            <div class="we-solve__card-text">
                                Планирование и определение наилучших сценариев достижения долгосрочных целей во
                                взаимосвязи со всеми бизнес-процессами и направлениями деятельности компании.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="we-solve__card">
                            <h3 class="we-solve__card-title">
                                Бюджетирование
                            </h3>
                            <div class="we-solve__card-text">
                                Планирование ресурсов и постановка целей компании на краткосрочном горизонте. Позволяет
                                создавать несколько вариантов бюджетов, сравнивать и выбирать наилучший, оперативно
                                менять версии и вносить изменения.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="we-solve__card">
                            <h3 class="we-solve__card-title">
                                Анализ отклонений
                            </h3>
                            <div class="we-solve__card-text">
                                Возможность анализировать показатели под разными углами и в нужной степени детализации:
                                план-факт анализ, факторный анализ, “что если”. Визуализация данных для принятия верных
                                решений. 
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="we-solve__card">
                            <h3 class="we-solve__card-title">
                                Консолидация отчетности
                            </h3>
                            <div class="we-solve__card-text">
                                Оперативный сбор финансовой и управленческой отчетности по группе компаний и
                                подразделениям, а также своевременная подготовка отчетности по принятым стандартам.
                                Возможность спуститься с верхнего уровня до источника данных.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="we-solve__card">
                            <h3 class="we-solve__card-title">
                                Планирование персонала
                            </h3>
                            <div class="we-solve__card-text">
                                Планирование численности и затрат на персонал в различных разрезах и с нужной степенью
                                детализации: планирование ФОТ, управление наймом, контроль KPI, штатное расписание,
                                график отпусков, обучение сотрудников.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="we-solve__card">
                            <h3 class="we-solve__card-title">
                                Планирование продаж
                            </h3>
                            <div class="we-solve__card-text">
                                Позволяет планировать оптимальный продуктовый портфель исходя из стратегии компании и
                                плана продаж в различных разрезах: каналы, маржинальность, продукты, регионы, сезонность
                                и другое.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="we-solve__card">
                            <h3 class="we-solve__card-title">
                                Планирование S&OP и цепей поставок
                            </h3>
                            <div class="we-solve__card-text">
                                Помогает выстроить сквозной процесс между всеми участниками S&OP и направить общие
                                усилия на достижение поставленных целей, оптимизировать и найти наилучшие варианты
                                построения цепей поставок.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="we-solve__card">
                            <h3 class="we-solve__card-title">
                                Инвестиционное планирование
                            </h3>
                            <div class="we-solve__card-text">
                                Детальное планирование и бюджетирование инвестиционных проектов, а также оценка их
                                эффективности и влияния на качественные и финансовые результаты компании.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="we-solve__card">
                            <h3 class="we-solve__card-title">
                                Импортозамещение
                            </h3>
                            <div class="we-solve__card-text">
                                Optimacros входит в реестр отечественного ПО и соответствует всем критериям и
                                требованиям, которые предъявляют компании при импортозамещении ИТ решений.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="we-solve__image-wrapper">
            <img src="/images/we-solve.webp" alt="" class="we-solve__image">
        </div>
    </div>
</section>