@font-face {
  font-family: "TT Drugs Trial";
  src: url("../fonts/TTDrugs-Bold.woff2") format("woff2"),
    url("../fonts/TTDrugs-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Drugs Trial";
  src: url("../fonts/TTDrugs-Light.woff2") format("woff2"),
    url("../fonts/TTDrugs-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
