:root {
  --primary-color: #f9872e;
  --text-color: black;
  --bg: #f6f7fa;
  --drugs: "TT Drugs Trial", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --content-padding: 4.8rem;
  --container-width: 182.4rem;

  @include breakpoint(tablet) {
    --content-padding: 2.4rem;
  }

  @include breakpoint(mobile) {
    --content-padding: 1.2rem;
  }
}
